<div id="financialModuleDiv">
  <div id="financialModuleTop">

    <h1>Financial Module</h1>
  </div>
  <div id="financialModuleSignalFlow">


    <div id="randomNumberGeneratorOutput">
      <p>out</p>
      <h2>◦</h2>
    </div>
  </div>


  <div id="financialModuleFace" class="pure-g">
    <div id="financialModuleDisplays" class="pure-u-1-4">

      <p id="outputLabel">Price </p>
      <div id="outputDisplay" class="volumeRead"></div>
      <p id="highLabel">High </p>
      <div id="highDisplay" class="volumeRead"></div>
      <p id="lowLabel">Low </p>
      <div id="lowDisplay" class="volumeRead"></div>
    </div>
    <div id="inputSpace" class="pure-u-3-4">
      <div id="financialInstrumentSelector">
        <div id="stocksSelector">
          <img src="./img/fluctuation.png">
          <button ng-click="$ctrl.stocksSelectedByUser()">Stocks</button>
          <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
        </div>
        <div id="mutualFundsSelector">
          <img src="./img/growth.png">
          <button ng-click="$ctrl.mutualFundsSelectedByUser()">Mutual Funds</button>
        </div>
        <div id="currencySelector">
          <img src="./img/benefits.png">
          <button>Currency</button>
        </div>

      </div>
      <div id="stockPicker">

        <div id="stockSymbolEditorPane">

          <img src="./img/fluctuation.png" ng-click="$ctrl.stockPickerToBeginning()">
          <form>
            <label for="stockSymbolInput">Stock Symbol:</label>
            <input type="text" id="stockSymbolInput" name="stockSymbolInput">
            <button type="submit" ng-click="$ctrl.submitStockSymbol()">submit</button>
            <button ng-click="$ctrl.randomizeStockSymbol()">random</button>
          </form>
        </div>
        <div id="stockSymbolSelectionDiv">

          <main ng-repeat="company in $ctrl.stockSymbolResults | orderBy : $ctrl.sortBy">
            <div ng-click="$ctrl.selectCompany(company)" class="companyListing">

              <p>{{company.name}} - {{company.symbol}}</p>
              <p>{{company.stock_exchange_long}}</p>
            </div>
          </main>
        </div>
      </div>
      <div id="companyDisplayPickDataStream">

        <div id="companyDataStreamPicker">
          <img src="./img/fluctuation.png" ng-click="$ctrl.companyDisplayToInitial()">
          <div id="companyDataStreamPickerButtonDiv">
            <button id="companyDataStreamPickerRealTimeButton">Real Time</button>
            <button id="companyDataStreamPickerIntradayButton">Intraday</button>
            <button id="companyDataStreamPickerHistoricalButton">Historical</button>
          </div>
        </div>
        <div id="companyInfosPane">
          <p id="companyInfoPaneCompanyName"></p>
          <p id="companyInfoPaneSymbol"></p>
          <p id="companyInfoPaneStockExchange"></p>
          <p id="companyInfoCurrencyTraded"></p>
          <p id="companyInfoPaneCurrentPrice"></p>
        </div>
      </div>
      <div id="realtimeStockAction">

        <div id="companyStockRealtime">
          <img id="companyStockRealtimeReturnImg" src="./img/fluctuation.png" ng-click="$ctrl.realitimeToInitial()">
          <form>
            <p>Update Interval (in seconds):</p>
            <a><input id="realtimeStockInterval" class="intervalDisplay" type="number" name="amountInput" min="30.0" max="600.0" value="30.0" step="0.5" oninput="this.form.amountRange.value=this.value"><span id="displaySpan"></span></a>

            <input name="amountRange" type="range" min="30.0" max="600.0" value="30.0" step="0.5" oninput="this.form.amountInput.value=this.value" id="realtimeStockIntervalSlider" class="intervalSlider">

          </form>
          <div id="realTimeStockButtonsDiv">
            <button id="companyRealtimeStockQuoteStartButton">start</button>
            <button id="companyRealtimeStockQuoteStopButton">stop</button>
          </div>

        </div>
        <div id="companyInfosRealtimePane">
          <p id="companyInfoRealtimePaneCompanyName"></p>
          <p id="companyInfoRealtimePaneStockExchange"></p>
          <p id="companyInfoRealtimeCurrencyTraded"></p>
        </div>
      </div>

      <div id="intradayStockAction">

        <div id="companyStockIntraday">
          <img id="companyStockIntradayReturnImg" src="./img/fluctuation.png" ng-click="$ctrl.intradayStockToInitial()">
          <form>
            <p>1 Minute per x seconds:</p>
            <input id="intradayStockInterval" class="intervalDisplay" type="number" name="amountInput" min="0.50" max="60.00" value="10.00" step="0.01" oninput="this.form.amountRange.value=this.value">

            <input name="amountRange" type="range" min="0.50" max="60.00" value="10.00" step="0.10" oninput="this.form.amountInput.value=this.value" id="intradayStockIntervalSlider" class="intervalSlider">

          </form>
          <div id="intradayStockButtonsDiv">
            <button id="companyIntradayStockQuoteStartButton">start</button>
            <button id="companyIntradayStockQuoteStopButton">stop</button>
          </div>

        </div>
        <div id="companyInfosStockIntradayPane">
          <p id="companyInfoStockIntradayPaneCompanyName"></p>
          <p id="companyInfoStockIntradayPaneStockExchange"></p>
          <p id="companyInfoStockIntradayCurrencyTraded"></p>
          <p id="companyInfoStockIntradayMinute"></p>
          <p id="companyInfoStockIntradayMinuteVolume"></p>
        </div>
      </div>

      <div id="historicalStockAction">

        <div id="companyStockHistorical">
          <img id="companyStockHistoricalReturnImg" src="./img/fluctuation.png" ng-click="$ctrl.historicalStockToInitial()">
          <form>
            <p>1 Day per x seconds:</p>
            <input id="historicalStockInterval" class="intervalDisplay" type="number" name="amountInput" min="0.10" max="60.00" value="10.00" step="0.01" oninput="this.form.amountRange.value=this.value">

            <input name="amountRange" type="range" min="0.10" max="60.00" value="10.00" step="0.01" oninput="this.form.amountInput.value=this.value" id="historicalStockIntervalSlider" class="intervalSlider">

          </form>
          <div id="historicalStockButtonsDiv">
            <button id="companyHistoricalStockQuoteStartButton">start</button>
            <button id="companyHistoricalStockQuoteStopButton">stop</button>
          </div>

        </div>
        <div id="companyInfosStockHistoricalPane">
          <p id="companyInfoStockHistoricalPaneCompanyName"></p>
          <p id="companyInfoStockHistoricalPaneStockExchange"></p>
          <p id="companyInfoStockHistoricalCurrencyTraded"></p>
          <p id="companyInfoStockHistoricalDay"></p>
          <p id="companyInfoStockHistoricalDayVolume"></p>
        </div>
      </div>
      <div id="mutualFundPicker">

        <div id="mutualFundsSymbolEditorPane">

          <img src="./img/growth.png" ng-click="$ctrl.mutualFundPickerToBeginning()">
          <form>
            <label for="mutualFundSymbolInput">Mutual Fund Symbol:</label>
            <input type="text" id="mutualFundSymbolInput" name="mutualFundSymbolInput">
            <button type="submit" ng-click="$ctrl.submitMutualFundSymbol()">submit</button>
            <button ng-click="$ctrl.randomizeMutualFundSymbol()">random</button>
          </form>
        </div>
        <div id="mutualFundSymbolSelectionDiv">

          <main ng-repeat="fund in $ctrl.mutualFundSymbolResults | orderBy : $ctrl.sortBy">
            <div ng-click="$ctrl.selectFund(fund)" class="companyListing">

              <p>{{fund.name}} - {{fund.symbol}}</p>
              <p>Yeild %: {{fund.yield_pct}}</p>
            </div>
          </main>
        </div>
      </div>
      <div id="mutualFundDisplayPickDataStream">

        <div id="mutualFundDataStreamPicker">
          <img src="./img/growth.png" ng-click="$ctrl.mutualFundDisplayToInitial()">
          <div id="mutualFundDataStreamPickerButtonDiv">
            <button id="mutualFundDataStreamPickerRealTimeButton">Real Time</button>
            <button id="mutualFundDataStreamPickerIntradayButton">Intraday</button>
            <button id="mutualFundDataStreamPickerHistoricalButton">Historical</button>
          </div>
        </div>
        <div id="mutualFundInfosPane">
          <p id="mutualFundInfoPaneCompanyName"></p>
          <p id="mutualFundInfoPaneSymbol"></p>
          <p id="mutualFundInfoPaneNetAssets"></p>
          <p id="mutualFundInfoPaneCurrentPrice"></p>
        </div>
      </div>

      <div id="realtimeMutualFundAction">

        <div id="mutualFundRealtime">
          <img id="mutualFundRealtimeReturnImg" src="./img/growth.png" ng-click="$ctrl.realitimeMutualFundToInitial()">
          <form>

            <p>Update Interval (in seconds):</p>
            <input id="realtimeMutualFundInterval" class="intervalDisplay" type="number" name="amountInput" min="30.0" max="600.0" value="30.0" step="0.5" oninput="this.form.amountRange.value=this.value">

            <input name="amountRange" type="range" min="30.0" max="600.0" value="30.0" step="0.5" oninput="this.form.amountInput.value=this.value" id="realtimeMutualFundIntervalSlider" class="intervalSlider">

          </form>
          <div id="realTimeMutualFundButtonsDiv">
            <button id="realtimeMutualFundQuoteStartButton">start</button>
            <button id="realtimeMutualFundQuoteStopButton">stop</button>
          </div>

        </div>
        <div id="mutualFundInfosRealtimePane">
          <p id="mutualFundInfoRealtimePaneName"></p>
          <p id="mutualFundInfoRealtimePaneSymbol"></p>
          <p id="mutualFundInfoRealtimeNetAssets"></p>
        </div>
      </div>

      <div id="intradayMutualFundAction">

        <div id="mutualFundIntraday">
          <img id="mutualFundIntradayReturnImg" src="./img/growth.png" ng-click="$ctrl.intradayMutualToInitial()">
          <form>
            <p>1 Day per x seconds:</p>
            <input id="intradayMutualFundInterval" class="intervalDisplay" type="number" name="amountInput" min="0.50" max="60.00" value="10.00" step="0.01" oninput="this.form.amountRange.value=this.value">

            <input name="amountRange" type="range" min="0.50" max="60.00" value="10.00" step="0.10" oninput="this.form.amountInput.value=this.value" id="intradayMutualFundIntervalSlider" class="intervalSlider">

          </form>
          <div id="intradayMutualFundButtonsDiv">
            <button id="mutualFundsIntradayQuoteStartButton">start</button>
            <button id="mutualFundsIntradayQuoteStopButton">stop</button>
          </div>

        </div>
        <div id="mutualFundInfosIntradayPane">
          <p id="mutualFundInfoIntradayPaneName"></p>
          <p id="mutualFundInfoIntradayPaneSymbol"></p>
          <p id="mutualFundInfoIntradayNetAssets"></p>
          <p id="mutualFundInfoIntradayDate"></p>
        </div>
      </div>
    </div>
  </div>



</div>
