body {
  background-color: #000000;
}

#bandpassFilterDiv {
  position: fixed;
  bottom: -25.5%;
  right: 0%;
  margin: 10em;
  height: 450px;
  width: 1150px;
  background-color: transparent;
  transform: scale(0.5);
}

#bandpassFilterTop {
  background: url(../img/april/wave-1521130_1920.jpg);
  background-size: cover;
  background-color: #ffffff;
  font-family: 'Righteous', cursive;
  height: 50px;
  width: 76%;
  webkit-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
  margin-left: 4.1vmin;
  margin-bottom: -3vmin;
}

#bandpassFilterTop h1 {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  margin-left: 3em;
  margin-top: 1em;
  color: #081418;
  font-weight: 600;
  text-shadow: 1px 1px 1px #54c9f6, 2px 2px 1px #54c9f6;
}

#bandpassFilterSignalFlow {
  background: url(../img/april/wave-1521130_1920.jpg);
  background-size: cover;
  background-color: #ffffff;
  border: solid 1px transparent;
  height: 450px;
  width: 49px;
  webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
  margin-left: 0.8vmin;
  margin-bottom: 3.5vmin;
  box-shadow: 0px -1px 1px #54c9f6;
}

#bandpassFilterSignalFlow p {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin-left: 0.8em;
  margin-top: 12vmin;
  margin-bottom: 0;
  color: #081418;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6;
}

#bandpassFilterSignalFlow h2 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  margin-left: 0.2em;
  margin-top: 2vmin;
  margin-bottom: 8vmin;
  width: 60%;
  color: #081418;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 500%;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6;
  cursor: pointer;
}

#bandpassFilterFace {
  height: 450px;
  width: 76%;
  background: url(../img/april/splash-4587878_1920.jpg);
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -57.4vmin;
  margin-left: 7.3vmin;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6;
}

#frequencyDiv {
  margin: -2vmin 0 0 3vmin;
}



#detuneDiv {
  margin: -2vmin 0 0 0;
}



#qDiv {
  margin: -2vmin 0 0 0;
}

#frequencyLabel {
  color: #081418;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6;
}



#detuneLabel {
  color: #081418;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6;
  margin-left: 2vmin;
}



#qLabel {
  color: #081418;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6;
  margin-left: 2vmin;
}

#bandpassFilterFrequencyDisplay {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
  padding-left: 1vmin;
}



#bandpassFilterDetuneDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
  padding-left: 1vmin;
}


#bandpassFilterQDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
  padding-left: 1vmin;
}

#frequency {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: 1vmin;
  box-shadow: 1px -1px 1px #54c9f6, 2px -2px 1px #54c9f6, 3px -3px 1px #54c9f6, 4px -4px 1px #54c9f6;
}



#detune {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: 1vmin;
  box-shadow: 1px -1px 1px #54c9f6, 2px -2px 1px #54c9f6, 3px -3px 1px #54c9f6, 4px -4px 1px #54c9f6;
}



#q {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 200%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: 3vmin;
  box-shadow: 1px -1px 1px #54c9f6, 2px -2px 1px #54c9f6, 3px -3px 1px #54c9f6, 4px -4px 1px #54c9f6;
}

#frequency::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
    background: linear-gradient(45deg, #193c49, #a9e4fa);
    cursor: pointer;
}



#detune::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
    background: linear-gradient(45deg, #193c49, #a9e4fa);
    cursor: pointer;
}



#q::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
    background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
    background: linear-gradient(45deg, #193c49, #a9e4fa);
    cursor: pointer;
}

#frequency::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
  background: linear-gradient(45deg, #193c49, #a9e4fa);
  cursor: pointer;
}



#detune::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
  background: linear-gradient(45deg, #193c49, #a9e4fa);
  cursor: pointer;
}



#q::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
  background: linear-gradient(45deg, #193c49, #a9e4fa);
  cursor: pointer;
}

#frequencyModDiv {

  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 5vmin 5vmin;
}


#detuneModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 5vmin 5vmin;
}


#qModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#frequencyModDiv p {
  color: #081418;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}


#detuneModDiv p {
  color: #081418;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}


#qModDiv p {
  color: #081418;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}

#frequencyModSelect {
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}



#detuneModSelect {
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}


#qModSelect {
  background: url(../img/april/algae-2307691_1920.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
}

button {

  visibility: hidden;
  width: 100px;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  background: transparent;
  margin-top: 2vmin;
  margin-left: 1vmin;
  box-shadow: -1px -1px 1px #54c9f6, -2px -2px 1px #54c9f6, -3px -3px 1px #54c9f6, -4px -4px 1px #54c9f6;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -webkit-linear-gradient(45deg, #193c49, #a9e4fa);
  background: -o-linear-gradient(45deg, #193c49, #a9e4fa);
  background: linear-gradient(45deg, #193c49, #a9e4fa);
}
