body {
  background-color: #000000;
}



#convolutionDiv {
  position: fixed;
  bottom: -25.5%;
  right: 0%;
  margin: 10em;
  height: 450px;
  width: 550px;
  background-color: transparent;
  transform: scale(0.5);
}

#convolutionTop {
  background: url(../img/january/dan-hodgkins-1415840-unsplash.jpg);
  background-size: 100%;
  background-color: #ffffff;
  font-family: 'Righteous', cursive;
  height: 50px;
  width: 76%;
  webkit-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
  margin-left: 4.1vmin;
  margin-bottom: -3vmin;
}

#convolutionTop h1 {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  margin-left: 3em;
  margin-top: 1em;
  color: #181803;
  font-weight: 600;
  text-shadow: 1px 1px 1px #f3f338, 2px 2px 1px #f3f338;
}

#convolutionSignalFlow {
  background: url(../img/january/dan-hodgkins-1415840-unsplash.jpg);
  background-size: 2000%;
  background-color: #ffffff;
  border: solid 1px transparent;
  height: 350px;
  width: 49px;
  webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
  margin-left: 0.8vmin;
  margin-bottom: 3.5vmin;
  box-shadow: 0px -1px 1px #f3f338;
}

#convolutionSignalFlow p {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin-left: 0.8em;
  margin-top: 6vmin;
  margin-bottom: 0;
  color: #181803;
  text-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338;
}

#convolutionSignalFlow h2 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  margin-left: 0.2em;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  width: 60%;
  color: #181803;
  background: url(../img/january/banter-snaps-58173-unsplash.jpg);
  background-size: 300%;
  /*background: #224CBC;
  background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: linear-gradient(135deg, #224CBC, #6FAAF0);*/
  text-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338;
  box-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338;
  cursor: pointer;
}

#convolutionFace {
  height: 350px;
  width: 76%;
  /*background: #f3f338;*/
  /*background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: linear-gradient(135deg, #224CBC, #6FAAF0);*/
  background: url(../img/january/greg-rosenke-1368399-unsplash.jpg);
  background-color: #ffffff;
  background-size: 120%;
  background-repeat: no-repeat;
  margin-top: -44.7vmin;
  margin-left: 7.3vmin;
  box-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338, -3px -3px 1px #f3f338;
}

#impulseDiv {
  width: 100%;
  height: 175px;
}

#normalizeDiv {
  width: 100%;
  height: 175px;
}

#impulseLabel {
  color: #181803;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338, -3px -3px 1px #f3f338;
  margin: 10px 0 4px 20px;
}

#impulseSelector {
  margin: 5px 5px 1px 20px;
  width: 90%;
  font-size: 24px;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  font-family: 'Sawarabi Mincho', sans-serif;
  border-radius: 0;
  border-color: transparent;
  padding: 1px 1px 1px 5px;
}

#impulseSelector:hover {
  border-color: #f3f338;
}

#normalizeLabel {
  color: #181803;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338, -3px -3px 1px #f3f338;
  margin: 10px 0 4px 20px;
}

#convolutionButtonsDiv {
  position: relative;
  width: 95%;
  height: auto;
}

#normalizationSwitchDiv {
  position: relative;
  width: 85%;
  height: auto;
  margin-left: 45px;
}

#normalizationSwitchDiv p {
  float: left;
  color: #181803;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338, -3px -3px 1px #f3f338;
  margin: 35px 45px 1px 45px;
  filter: brightness(150%);
}

label {
  position: inline-block;
  float: left;
  width: 60px;
  height: 34px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 25px;
  left: 120px;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 5px transparent;
  height: 34px;
  width: 54px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f3f338;
  -webkit-transition: .4s;
  transition: .4s;
}

span {
  background-color: #f8f8f8;
  height: 34px;
}

input:checked + .slider {
  background-color: #f5f565;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f5f565;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {

  visibility: visible;
  width: 140px;
  height: 70px;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  background: transparent;
  box-shadow: -1px -1px 1px #f3f338, -2px -2px 1px #f3f338, -3px -3px 1px #f3f338;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #60600e, #f5f565);
  background: -webkit-linear-gradient(45deg, #60600e, #f5f565);
  background: -o-linear-gradient(45deg, #60600e, #f5f565);
  background: linear-gradient(45deg, #60600e, #f5f565);
  margin: 5px 5px 5px 40px;
}
