body {
  background-color: #000000;
}



#dynamicCompressorDiv {
  position: fixed;
  bottom: -25.5%;
  right: 0%;
  margin: 10em;
  height: 450px;
  width: 1150px;
  background-color: transparent;
  transform: scale(0.5);
}

#dynamicCompressorTop {
  background: url(../img/may/shahadat-shemul-7NgccS8ukSY-unsplash.jpg);
  background-size: 100%;
  background-color: #ffffff;
  font-family: 'Righteous', cursive;
  height: 50px;
  width: 88%;
  webkit-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
  margin-left: 4.1vmin;
  margin-bottom: -3vmin;
}

#dynamicCompressorTop h1 {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  margin-left: 3em;
  margin-top: 1em;
  color: #170309;
  font-weight: 600;
  text-shadow: 1px 1px 1px #ec225f, 2px 2px 1px #ec225f;
}

#dynamicCompressorSignalFlow {
  background: url(../img/may/shahadat-shemul-7NgccS8ukSY-unsplash.jpg);
  background-size: 1700%;
  background-color: #ffffff;
  border: solid 1px transparent;
  height: 450px;
  width: 49px;
  webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
  margin-left: 0.8vmin;
  margin-bottom: 3.5vmin;
  box-shadow: 0px -1px 1px #ec225f;
}

#dynamicCompressorSignalFlow p {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin-left: 0.8em;
  margin-top: 12vmin;
  margin-bottom: 0;
  color: #170309;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f;
}

#dynamicCompressorSignalFlow h2 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  margin-left: 0.2em;
  margin-top: 2vmin;
  margin-bottom: 8vmin;
  width: 60%;
  color: #170309;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  /*background: #224CBC;
  background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: linear-gradient(135deg, #224CBC, #6FAAF0);*/
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f;
  cursor: pointer;
}

#dynamicCompressorFace {
  height: 450px;
  width: 88%;
  /*background: #ffffff;*/
  /*background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);*/
  /*background: linear-gradient(135deg, #224CBC, #6FAAF0);*/
  background: url(../img/may/kumiko-shimizu-mP3DARP8E7U-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin-top: -57.4vmin;
  margin-left: 7.3vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
}

#thresholdDiv {
  margin: -2vmin 0 0 1vmin;
}

#kneeDiv {
  margin: -2vmin 0 0 4vmin;
}

#ratioDiv {
  margin: -2vmin 0 0 4vmin;
}

#attackDiv {
  margin: -2vmin 0 0 4vmin;
}

#releaseDiv {
  margin: -2vmin 0 0 4vmin;
}

#thresholdLabel {
  color: #170309;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
}

#kneeLabel {
  color: #170309;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
  margin-left: 2vmin;
}

#ratioLabel {
  color: #170309;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
  margin-left: 2vmin;
}

#attackLabel {
  color: #170309;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
  margin-left: 2vmin;
}

#releaseLabel {
  color: #170309;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f;
  margin-left: 2vmin;
}

#compressorThresholdDisplay {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  padding-left: 1vmin;
}

#compressorKneeDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  padding-left: 1vmin;
}

#compressorRatioDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  padding-left: 1vmin;
}

#compressorAttackDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  padding-left: 1vmin;
}

#compressorReleaseDisplay {
  margin-left: 2vmin;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  margin-top: -2vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  padding-left: 1vmin;
}

#threshold {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: -5vmin;
  box-shadow: 1px -1px 1px #ec225f, 2px -2px 1px #ec225f, 3px -3px 1px #ec225f, 4px -4px 1px #ec225f;
}

#knee {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: -5vmin;
  box-shadow: 1px -1px 1px #ec225f, 2px -2px 1px #ec225f, 3px -3px 1px #ec225f, 4px -4px 1px #ec225f;
}

#ratio {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: -5vmin;
  box-shadow: 1px -1px 1px #ec225f, 2px -2px 1px #ec225f, 3px -3px 1px #ec225f, 4px -4px 1px #ec225f;
}

#attack {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: -5vmin;
  box-shadow: 1px -1px 1px #ec225f, 2px -2px 1px #ec225f, 3px -3px 1px #ec225f, 4px -4px 1px #ec225f;
}

#release {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 55vmin;
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 300%;
  outline: none;
  opacity: 1.0;
  margin-top: 16vmin;
  margin-left: -5vmin;
  box-shadow: 1px -1px 1px #ec225f, 2px -2px 1px #ec225f, 3px -3px 1px #ec225f, 4px -4px 1px #ec225f;
}

#threshold::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -o-linear-gradient(45deg, #5e0d26, #f590af);
    background: linear-gradient(45deg, #5e0d26, #f590af);
    cursor: pointer;
}

#knee::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -o-linear-gradient(45deg, #5e0d26, #f590af);
    background: linear-gradient(45deg, #5e0d26, #f590af);
    cursor: pointer;
}

#ratio::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -o-linear-gradient(45deg, #5e0d26, #f590af);
    background: linear-gradient(45deg, #5e0d26, #f590af);
    cursor: pointer;
}

#attack::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -o-linear-gradient(45deg, #5e0d26, #f590af);
    background: linear-gradient(45deg, #5e0d26, #f590af);
    cursor: pointer;
}

#release::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 19px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
    background: -o-linear-gradient(45deg, #5e0d26, #f590af);
    background: linear-gradient(45deg, #5e0d26, #f590af);
    cursor: pointer;
}

#threshold::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
  cursor: pointer;
}

#knee::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
  cursor: pointer;
}

#ratio::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
  cursor: pointer;
}

#attack::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
  cursor: pointer;
}

#release::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
  cursor: pointer;
}

#thresholdModDiv {

  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#kneeModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#ratioModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#attackModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#releaseModDiv {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin: 0 0 3vmin 3vmin;
}

#thresholdModDiv p {
  color: #170309;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#kneeModDiv p {
  color: #170309;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#ratioModDiv p {
  color: #170309;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#attackModDiv p {
  color: #170309;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#releaseModDiv p {
  color: #170309;
  margin-left: -1vmin;
  text-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#thresholdModSelect {
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#kneeModSelect {
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#ratioModSelect {
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#attackModSelect {
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

#releaseModSelect {
  background: url(../img/may/kumiko-shimizu-gHKSgocphro-unsplash.jpg);
  background-size: 100%;
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: -4vmin 0 0 -1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
}

button {

  visibility: hidden;
  width: 100px;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  background: transparent;
  margin-top: 2vmin;
  margin-left: 1vmin;
  box-shadow: -1px -1px 1px #ec225f, -2px -2px 1px #ec225f, -3px -3px 1px #ec225f, -4px -4px 1px #ec225f;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -webkit-linear-gradient(45deg, #5e0d26, #f590af);
  background: -o-linear-gradient(45deg, #5e0d26, #f590af);
  background: linear-gradient(45deg, #5e0d26, #f590af);
}
