.dynamicCompressorSliderJanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #FFf000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
    background: linear-gradient(45deg, #fff000, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #8c92ac, 2px -2px 1px #8c92ac, 3px -3px 1px #8c92ac, 4px -4px 1px #8c92ac;
}

.dynamicCompressorSliderJanuaryA::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #FFf000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
  background: linear-gradient(45deg, #fff000, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #8c92ac, 2px -2px 1px #8c92ac, 3px -3px 1px #8c92ac, 4px -4px 1px #8c92ac;
}

.dynamicCompressorSliderJanuaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #FFf000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
    background: linear-gradient(45deg, #fff000, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #191900, 2px -2px 1px #191900, 3px -3px 1px #191900, 4px -4px 1px #191900;
}

.dynamicCompressorSliderJanuaryB::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #FFf000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
  background: linear-gradient(45deg, #fff000, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #191900, 2px -2px 1px #191900, 3px -3px 1px #191900, 4px -4px 1px #191900;
}

.dynamicCompressorSliderJanuaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #FF4500, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #FF4500, #C0C0C0);
    background: -o-linear-gradient(45deg, #FF4500, #C0C0C0);
    background: linear-gradient(45deg, #FF4500, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #8B0000, 2px -2px 1px #8B0000, 3px -3px 1px #8B0000, 4px -4px 1px #8B0000;
}

.dynamicCompressorSliderJanuaryC::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #FF4500, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #FF4500, #C0C0C0);
  background: -o-linear-gradient(45deg, #FF4500, #C0C0C0);
  background: linear-gradient(45deg, #FF4500, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #8B0000, 2px -2px 1px #8B0000, 3px -3px 1px #8B0000, 4px -4px 1px #8B0000;
}

.dynamicCompressorSliderFebruaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #666600, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #666600, #C0C0C0);
    background: -o-linear-gradient(45deg, #666600, #C0C0C0);
    background: linear-gradient(45deg, #666600, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff32, 2px -2px 1px #ffff32, 3px -3px 1px #ffff32, 4px -4px 1px #ffff32;
}

.dynamicCompressorSliderFebruaryA::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #666600, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #666600, #C0C0C0);
  background: -o-linear-gradient(45deg, #666600, #C0C0C0);
  background: linear-gradient(45deg, #666600, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff32, 2px -2px 1px #ffff32, 3px -3px 1px #ffff32, 4px -4px 1px #ffff32;
}

.dynamicCompressorSliderFebruaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #3232ff, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #3232ff, #C0C0C0);
    background: -o-linear-gradient(45deg, #3232ff, #C0C0C0);
    background: linear-gradient(45deg, #3232ff, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #0000b2, 2px -2px 1px #0000b2, 3px -3px 1px #0000b2, 4px -4px 1px #0000b2;
}

.dynamicCompressorSliderFebruaryB::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #3232ff, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #3232ff, #C0C0C0);
  background: -o-linear-gradient(45deg, #3232ff, #C0C0C0);
  background: linear-gradient(45deg, #3232ff, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #0000b2, 2px -2px 1px #0000b2, 3px -3px 1px #0000b2, 4px -4px 1px #0000b2;
}

.dynamicCompressorSliderFebruaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #190000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #190000, #C0C0C0);
    background: -o-linear-gradient(45deg, #190000, #C0C0C0);
    background: linear-gradient(45deg, #190000, #C0C0C0);
    cursor: pointer;
    box-shadow: 1px -1px 1px #e50000, 2px -2px 1px #e50000, 3px -3px 1px #e50000, 4px -4px 1px #e50000;
}

.dynamicCompressorSliderFebruaryC::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #190000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #190000, #C0C0C0);
  background: -o-linear-gradient(45deg, #190000, #C0C0C0);
  background: linear-gradient(45deg, #190000, #C0C0C0);
  cursor: pointer;
  box-shadow: 1px -1px 1px #e50000, 2px -2px 1px #e50000, 3px -3px 1px #e50000, 4px -4px 1px #e50000;
}

.dynamicCompressorSliderMarchA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #004c00, #b2ffb2);
    background: -webkit-linear-gradient(45deg, #004c00, #b2ffb2);
    background: -o-linear-gradient(45deg, #004c00, #b2ffb2);
    background: linear-gradient(45deg, #004c00, #b2ffb2);
    cursor: pointer;
    box-shadow: 1px -1px 1px #7fff7f, 2px -2px 1px #7fff7f, 3px -3px 1px #7fff7f, 4px -4px 1px #7fff7f;
}

.dynamicCompressorSliderMarchA::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #004c00, #b2ffb2);
  background: -webkit-linear-gradient(45deg, #004c00, #b2ffb2);
  background: -o-linear-gradient(45deg, #004c00, #b2ffb2);
  background: linear-gradient(45deg, #004c00, #b2ffb2);
  cursor: pointer;
  box-shadow: 1px -1px 1px #7fff7f, 2px -2px 1px #7fff7f, 3px -3px 1px #7fff7f, 4px -4px 1px #7fff7f;
}

.dynamicCompressorSliderMarchB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ad3232, #f4e5e5);
    background: -webkit-linear-gradient(45deg, #ad3232, #f4e5e5);
    background: -o-linear-gradient(45deg, #ad3232, #f4e5e5);
    background: linear-gradient(45deg, #ad3232, #f4e5e5);
    cursor: pointer;
    box-shadow: 1px -1px 1px #a31919, 2px -2px 1px #a31919, 3px -3px 1px #a31919, 4px -4px 1px #a31919;
}

.dynamicCompressorSliderMarchB::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ad3232, #f4e5e5);
  background: -webkit-linear-gradient(45deg, #ad3232, #f4e5e5);
  background: -o-linear-gradient(45deg, #ad3232, #f4e5e5);
  background: linear-gradient(45deg, #ad3232, #f4e5e5);
  cursor: pointer;
  box-shadow: 1px -1px 1px #a31919, 2px -2px 1px #a31919, 3px -3px 1px #a31919, 4px -4px 1px #a31919;
}

.dynamicCompressorSliderMarchC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #26267f, #ededff);
    background: -webkit-linear-gradient(45deg, #26267f, #ededff);
    background: -o-linear-gradient(45deg, #26267f, #ededff);
    background: linear-gradient(45deg, #26267f, #ededff);
    cursor: pointer;box-shadow: 1px -1px 1px #a5a5ff, 2px -2px 1px #a5a5ff, 3px -3px 1px #a5a5ff, 4px -4px 1px #a5a5ff;
}

.dynamicCompressorSliderMarchC::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #26267f, #ededff);
  background: -webkit-linear-gradient(45deg, #26267f, #ededff);
  background: -o-linear-gradient(45deg, #26267f, #ededff);
  background: linear-gradient(45deg, #26267f, #ededff);
  cursor: pointer;
  cursor: pointer;box-shadow: 1px -1px 1px #a5a5ff, 2px -2px 1px #a5a5ff, 3px -3px 1px #a5a5ff, 4px -4px 1px #a5a5ff;
}

.dynamicCompressorSliderAprilA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #4c4c00, #ffff99);
    background: -webkit-linear-gradient(45deg, #4c4c00, #ffff99);
    background: -o-linear-gradient(45deg, #4c4c00, #ffff99);
    background: linear-gradient(45deg, #4c4c00, #ffff99);
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff66, 2px -2px 1px #ffff66, 3px -3px 1px #ffff66, 4px -4px 1px #ffff66;
}

.dynamicCompressorSliderAprilA::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #4c4c00, #ffff99);
  background: -webkit-linear-gradient(45deg, #4c4c00, #ffff99);
  background: -o-linear-gradient(45deg, #4c4c00, #ffff99);
  background: linear-gradient(45deg, #4c4c00, #ffff99);
  cursor: pointer;box-shadow: 1px -1px 1px #ffff66, 2px -2px 1px #ffff66, 3px -3px 1px #ffff66, 4px -4px 1px #ffff66;
}

.dynamicCompressorSliderAprilB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #006600, #ccffcc);
    background: -webkit-linear-gradient(45deg, #006600, #ccffcc);
    background: -o-linear-gradient(45deg, #006600, #ccffcc);
    background: linear-gradient(45deg, #006600, #ccffcc);
    cursor: pointer;
    box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.dynamicCompressorSliderAprilB::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -o-linear-gradient(45deg, #006600, #ccffcc);
  background: linear-gradient(45deg, #006600, #ccffcc);
  cursor: pointer;
  box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.dynamicCompressorSliderAprilC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 32px;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #483511, #fcefd7);
    background: -webkit-linear-gradient(45deg, #483511, #fcefd7);
    background: -o-linear-gradient(45deg, #483511, #fcefd7);
    background: linear-gradient(45deg, #483511, #fcefd7);
    cursor: pointer;
    box-shadow: 1px -1px 1px #f3b84d, 2px -2px 1px #f3b84d, 3px -3px 1px #f3b84d, 4px -4px 1px #f3b84d;
}

.dynamicCompressorSliderAprilC::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #483511, #fcefd7);
  background: -webkit-linear-gradient(45deg, #483511, #fcefd7);
  background: -o-linear-gradient(45deg, #483511, #fcefd7);
  background: linear-gradient(45deg, #483511, #fcefd7);
  cursor: pointer;
  box-shadow: 1px -1px 1px #f3b84d, 2px -2px 1px #f3b84d, 3px -3px 1px #f3b84d, 4px -4px 1px #f3b84d;
}
