body {
  background-color: #000000;
}

#gainDiv {
  position: fixed;
  bottom: -34.5%;
  right: 0%;
  margin: 10em;
  height: 450px;
  width: 450px;
  background-color: transparent;
  transform: scale(0.5);
}

#gainTop {
  background: url(../img/january/gain-ice-1.jpg);
  background-size: 90%;
  font-family: 'Righteous', cursive;
  height: 50px;
  width: 80%;
  webkit-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
  margin-left: 4.1vmin;
  margin-bottom: -3vmin;
}

#gainTop h1 {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  margin-left: 3em;
  margin-top: 1em;
  color: #000000;
  font-weight: 600;
  text-shadow: 1px 1px 1px #FFFE00, 2px 2px 1px #FFFE00;
}

#gainsignalFlow {
  background: url(../img/january/gain-ice-1.jpg);
  background-size: 1300%;
  border: solid 1px transparent;
  height: 350px;
  width: 49px;
  webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
  margin-left: 0.8vmin;
  margin-bottom: 3.5vmin;
  box-shadow: 0px -1px 1px #FFFE00;
}

#gainsignalFlow p {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin-left: 0.8em;
  margin-top: 4vmin;
  margin-bottom: 0;
  color: #000000;
  text-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00;
}

#gainsignalFlow h2 {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  margin-left: 0.2em;
  margin-top: 2vmin;
  margin-bottom: 8vmin;
  width: 60%;
  color: #000000;
  background: url(../img/january/gain-ice-2.jpg);
  background-size: 1000%;
  /*background: #224CBC;
  background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: linear-gradient(135deg, #224CBC, #6FAAF0);*/
  text-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00;
  cursor: pointer;
}

#gainFace {
  height: 350px;
  width: 80%;
  background: #224CBC;
  background-color: -webkit-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -o-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: -moz-linear-gradient(135deg, #224CBC, #6FAAF0);
  background: linear-gradient(135deg, #224CBC, #6FAAF0);
  background: url(../img/january/gain-ice-1.jpg);
  background-size: 300%;
  background-repeat: no-repeat;
  margin-top: -44vmin;
  margin-left: 7.3vmin;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00;
}

#gainFace img {
  width: 70%;
  margin-left: 0;
  margin-top: 0;
  opacity: 0.8;
}




#gainFace p {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin-bottom: 0;
  text-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00;
}

#gainDisplay {
  font-family: 'Righteous', cursive;
  font-size: 96px;
  margin-left: 2vmin;
  margin-top: 3vmin;
  background: url(../img/january/gain-ice-2.jpg);
  background-size: 100%;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #7DF9FF, -4px -4px 1px #FFFE00;
  padding-left: 5vmin;
}

#gainVolume {
  -webkit-appearance: none;
  appearance: none;
  webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  width: 85%;
  background: url(../img/january/gain-ice-2.jpg);
  background-size: 40%;
  outline: none;
  opacity: 1.0;

  margin-left: 20vmin;
  margin-top: 0.5vmin;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

#gainVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 52px;
    height: 49px;
    background: url(../img/noun_338545_cc.png);
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
    background: -webkit-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
    background: -o-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
    background: linear-gradient(-135deg, #0F2CA1, #D2DDF7);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

#masterVolume::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background: url(../img/noun_338545_cc.png);
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
  background: -webkit-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
  background: -o-linear-gradient(-135deg, #0F2CA1, #D2DDF7);
  background: linear-gradient(-135deg, #0F2CA1, #D2DDF7);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

#gainModulator {
  margin-left: 3vmin;
  margin-top: -8vmin;
}

#gainModulatorSelect {
  width: 74%;
  font-family: 'Righteous', cursive;
  background: url(../img/january/gain-ice-2.jpg);
  background-size: 100%;
  font-size: 36px;
  margin-top: 1vmin;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #7DF9FF, -4px -4px 1px #FFFE00;
}

#gainModulateEdit {
  visibility: hidden;
  width: 50%;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  background: transparent;
  margin-top: 3vmin;
  margin-left: 5vmin;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #7DF9FF, -4px -4px 1px #FFFE00;
}
