.highpassFilterSliderJanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
    background: linear-gradient(45deg, #fff000, #C0C0C0);
    cursor: pointer;
}

.highpassFilterSliderJanuaryA::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
  background: linear-gradient(45deg, #fff000, #C0C0C0);
  cursor: pointer;
}

.highpassFilterHorizontalSliderJanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
    background: linear-gradient(45deg, #fff000, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderJanuaryA::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
  background: linear-gradient(45deg, #fff000, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
    background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
    background: linear-gradient(45deg, #fff000, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryA::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #fff000, #C0C0C0);
  background: -o-linear-gradient(45deg, #fff000, #C0C0C0);
  background: linear-gradient(45deg, #fff000, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderJanuaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
    cursor: pointer;
}

.highpassFilterSliderJanuaryB::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
  cursor: pointer;
}

.highpassFilterHorizontalSliderJanuaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderJanuaryB::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
    background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryB::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: -o-linear-gradient(45deg, #ff4c4c, #C0C0C0);
  background: linear-gradient(45deg, #ff4c4c, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderJanuaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
    cursor: pointer;
}

.highpassFilterSliderJanuaryC::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
  cursor: pointer;
}
.highpassFilterHorizontalSliderJanuaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderJanuaryC::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
    background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterSliderVerticalJanuaryC::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: -o-linear-gradient(45deg, #ffe5e5, #C0C0C0);
  background: linear-gradient(45deg, #ffe5e5, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderFebruaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -o-linear-gradient(45deg, #009900, #C0C0C0);
    background: linear-gradient(45deg, #009900, #C0C0C0);
    cursor: pointer;
}

.highpassFilterSliderFebruaryA::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -o-linear-gradient(45deg, #009900, #C0C0C0);
  background: linear-gradient(45deg, #009900, #C0C0C0);
  cursor: pointer;
}

.highpassFilterHorizontalSliderFebruaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -o-linear-gradient(45deg, #009900, #C0C0C0);
    background: linear-gradient(45deg, #009900, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderFebruaryA::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -o-linear-gradient(45deg, #009900, #C0C0C0);
  background: linear-gradient(45deg, #009900, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
    background: -o-linear-gradient(45deg, #009900, #C0C0C0);
    background: linear-gradient(45deg, #009900, #C0C0C0);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryA::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #009900, #C0C0C0);
  background: -o-linear-gradient(45deg, #009900, #C0C0C0);
  background: linear-gradient(45deg, #009900, #C0C0C0);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderFebruaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
    background: linear-gradient(45deg, #ffff00, #ffffb2);
    cursor: pointer;
}

.highpassFilterSliderFebruaryB::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
  background: linear-gradient(45deg, #ffff00, #ffffb2);
  cursor: pointer;
}

.highpassFilterHorizontalSliderFebruaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
    background: linear-gradient(45deg, #ffff00, #ffffb2);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderFebruaryB::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
  background: linear-gradient(45deg, #ffff00, #ffffb2);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
    background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
    background: linear-gradient(45deg, #ffff00, #ffffb2);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryB::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -webkit-linear-gradient(45deg, #ffff00, #ffffb2);
  background: -o-linear-gradient(45deg, #ffff00, #ffffb2);
  background: linear-gradient(45deg, #ffff00, #ffffb2);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderFebruaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
    cursor: pointer;
}

.highpassFilterSliderFebruaryC::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
  cursor: pointer;
}

.highpassFilterHorizontalSliderFebruaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderFebruaryC::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
    background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderFebruaryC::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -webkit-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: -o-linear-gradient(45deg, #ff7f7f, #ffe5e5);
  background: linear-gradient(45deg, #ff7f7f, #ffe5e5);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderMarchA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
    background: linear-gradient(45deg, #81ff81, #dbffdb);
    cursor: pointer;
}

.highpassFilterSliderMarchA::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
  background: linear-gradient(45deg, #81ff81, #dbffdb);
  cursor: pointer;
}

.highpassFilterHorizontalSliderMarchA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
    background: linear-gradient(45deg, #81ff81, #dbffdb);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderMarchA::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
  background: linear-gradient(45deg, #81ff81, #dbffdb);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
    background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
    background: linear-gradient(45deg, #81ff81, #dbffdb);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchA::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -webkit-linear-gradient(45deg, #81ff81, #dbffdb);
  background: -o-linear-gradient(45deg, #81ff81, #dbffdb);
  background: linear-gradient(45deg, #81ff81, #dbffdb);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderMarchB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -o-linear-gradient(45deg, #330000, #ff7f7f);
    background: linear-gradient(45deg, #330000, #ff7f7f);
    cursor: pointer;
}

.highpassFilterSliderMarchB::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -o-linear-gradient(45deg, #330000, #ff7f7f);
  background: linear-gradient(45deg, #330000, #ff7f7f);
  cursor: pointer;
}

.highpassFilterHorizontalSliderMarchB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -o-linear-gradient(45deg, #330000, #ff7f7f);
    background: linear-gradient(45deg, #330000, #ff7f7f);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderMarchB::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -o-linear-gradient(45deg, #330000, #ff7f7f);
  background: linear-gradient(45deg, #330000, #ff7f7f);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
    background: -o-linear-gradient(45deg, #330000, #ff7f7f);
    background: linear-gradient(45deg, #330000, #ff7f7f);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchB::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -webkit-linear-gradient(45deg, #330000, #ff7f7f);
  background: -o-linear-gradient(45deg, #330000, #ff7f7f);
  background: linear-gradient(45deg, #330000, #ff7f7f);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderMarchC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -o-linear-gradient(45deg, #006600, #b2ffb2);
    background: linear-gradient(45deg, #006600, #b2ffb2);
    cursor: pointer;
}

.highpassFilterSliderMarchC::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -o-linear-gradient(45deg, #006600, #b2ffb2);
  background: linear-gradient(45deg, #006600, #b2ffb2);
  cursor: pointer;
}

.highpassFilterHorizontalSliderMarchC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -o-linear-gradient(45deg, #006600, #b2ffb2);
    background: linear-gradient(45deg, #006600, #b2ffb2);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderMarchC::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -o-linear-gradient(45deg, #006600, #b2ffb2);
  background: linear-gradient(45deg, #006600, #b2ffb2);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
    background: -o-linear-gradient(45deg, #006600, #b2ffb2);
    background: linear-gradient(45deg, #006600, #b2ffb2);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderMarchC::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -webkit-linear-gradient(45deg, #006600, #b2ffb2);
  background: -o-linear-gradient(45deg, #006600, #b2ffb2);
  background: linear-gradient(45deg, #006600, #b2ffb2);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderAprilA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -o-linear-gradient(45deg, #771111, #f8a7a7);
    background: linear-gradient(45deg, #771111, #f8a7a7);
    cursor: pointer;
}

.highpassFilterSliderAprilA::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -o-linear-gradient(45deg, #771111, #f8a7a7);
  background: linear-gradient(45deg, #771111, #f8a7a7);
  cursor: pointer;
}

.highpassFilterHorizontalSliderAprilA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -o-linear-gradient(45deg, #771111, #f8a7a7);
    background: linear-gradient(45deg, #771111, #f8a7a7);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderAprilA::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -o-linear-gradient(45deg, #771111, #f8a7a7);
  background: linear-gradient(45deg, #771111, #f8a7a7);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
    background: -o-linear-gradient(45deg, #771111, #f8a7a7);
    background: linear-gradient(45deg, #771111, #f8a7a7);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilA::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -webkit-linear-gradient(45deg, #771111, #f8a7a7);
  background: -o-linear-gradient(45deg, #771111, #f8a7a7);
  background: linear-gradient(45deg, #771111, #f8a7a7);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderAprilB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
    background: linear-gradient(45deg, #d9d914, #f5f55c);
    cursor: pointer;
}

.highpassFilterSliderAprilB::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
  background: linear-gradient(45deg, #d9d914, #f5f55c);
  cursor: pointer;
}

.highpassFilterHorizontalSliderAprilB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
    background: linear-gradient(45deg, #d9d914, #f5f55c);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderAprilB::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
  background: linear-gradient(45deg, #d9d914, #f5f55c);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilB::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
    background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
    background: linear-gradient(45deg, #d9d914, #f5f55c);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilB::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -webkit-linear-gradient(45deg, #d9d914, #f5f55c);
  background: -o-linear-gradient(45deg, #d9d914, #f5f55c);
  background: linear-gradient(45deg, #d9d914, #f5f55c);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterSliderAprilC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 45px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -o-linear-gradient(45deg, #0f9218, #8cf993);
    background: linear-gradient(45deg, #0f9218, #8cf993);
    cursor: pointer;
}

.highpassFilterSliderAprilC::-moz-range-thumb {
  width: 18px;
  height: 45px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -o-linear-gradient(45deg, #0f9218, #8cf993);
  background: linear-gradient(45deg, #0f9218, #8cf993);
  cursor: pointer;
}

.highpassFilterHorizontalSliderAprilC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 38px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -o-linear-gradient(45deg, #0f9218, #8cf993);
    background: linear-gradient(45deg, #0f9218, #8cf993);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterHorizontalSliderAprilC::-moz-range-thumb {
  width: 16px;
  height: 38px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -o-linear-gradient(45deg, #0f9218, #8cf993);
  background: linear-gradient(45deg, #0f9218, #8cf993);
  cursor: pointer;
  transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilC::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 35px;
    border: solid 2px black;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
    background: -o-linear-gradient(45deg, #0f9218, #8cf993);
    background: linear-gradient(45deg, #0f9218, #8cf993);
    cursor: pointer;
    transform: translateY(-2px);
}

.highpassFilterVerticalSliderAprilC::-moz-range-thumb {
  width: 13px;
  height: 35px;
  border: solid 2px black;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -webkit-linear-gradient(45deg, #0f9218, #8cf993);
  background: -o-linear-gradient(45deg, #0f9218, #8cf993);
  background: linear-gradient(45deg, #0f9218, #8cf993);
  cursor: pointer;
  transform: translateY(-2px);
}
