#infoContent {
  width: 100%;
  position: fixed;
  top: 66px;
}

#whitePaper {
  height: 690px;
  width: 96.8%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffffff;
  padding: 2vmin;
  opacity: 0.9;
  /* filter: hue-rotate(180deg); */
  margin-left: 0;
  margin-right: 0;
  border: solid 4px #00FF66;
  margin-top: 0;
  font-family: Roboto, sans-serif;
}

#whitePaper h1 {
  font-family: 'Righteous', cursive;
  margin: 1vmin 0 1vmin 38vmin;
  font-size: 48px;
}

#whitePaper p {
  font-size: 18px;
  margin: 3vmin;
}

#whitePaper h2 {
  font-size: 36px;
  margin: 5vmin;
}

#whitePaper a {
  color: #D93627;
}

#whitePaper a:hover {
  filter: hue-rotate(180deg);
  transition: filter 0.5s linear;
}

#whitePaper a:active {
  opacity: 0.4;
}

#whitePaper a h3 {
  /* font-family: 'Righteous', cursive; */
  padding-left: 4vmin;
  /* color: #D93627; */
}

#whitePaper h5 {
  font-size: 60px;
}

#whitePaper a h3:hover {
  filter: hue-rotate(180deg);
  transition: filter 0.5s linear;
}

#whitePaper a h3:active {
  opacity: 0.4;
}

#whitePaper a p {
  font-size: 42px;
  color: #D93627;
}

ul {
  list-style-type: none;
}

#whitePaper a p:hover {
  filter: hue-rotate(180deg);
  transition: filter 0.5s linear;
}

#whitePaper a p:active {
  opacity: 0.4;
}

#whitePaper h3 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin: 0 0 0 3vmin;
}

.infosContainer {
  position: relative;
  width: 95%;
  height: 355px;
}

.infoBox {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin: 1.5vmin 0 8vmin 3vmin;
  border: 1px #000 solid;
  background: #C4C4C4;
  width: 40%;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -1px -1px 1px #A2A2A2, -2px -2px 1px #A2A2A2, -3px -3px 1px #A2A2A2, -4px -4px 1px #A2A2A2, -5px -5px 1px #A2A2A2;
}

.infoBoxRight {
  top: -420px;
  position: relative;
  float: right;
  width: 40%;
  height: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* margin: 1.5vmin 0 8vmin 3vmin; */
}

.infoList {
  font-family: Raleway, sans-serif;
}


.infoBox h4 {
  font-size: 30px;
  margin: 0 1vmin 1vmin 3vmin;
}

.infoBox img {
  width: 25%;
  margin: 2.5vmin 5vmin 1vmin 5vmin;
  float: right;

}

.quarters {
  width: 25%;
  float: left;
  margin-top: -20px;
}

.quarters h3 {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
  float: left;
}

#infoHubTitle {
  padding-left: 50px;
}

#infoHubNavbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #dbdbbc;
  background-color: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: linear-gradient(-45deg, #dbdbbc, #003f8f);
  border-bottom: solid 4px #2a3748;
  /* border-bottom: solid 4px #7D2301; */
  margin: 0;
}


#infoHubNavbar img {
  float: left;
  width: 6%;
  margin: 2vmin;
  border: solid 2px #7D2301;
  box-shadow: -1px -1px 1px #201702, -2px -2px 1px #201702, -3px -3px 1px #201702, -4px -4px 1px #201702, -5px -5px 1px #201702;
  cursor: pointer;
}

#infoHubNavbar img:active {
  box-shadow: -1px -1px 1px #201702;
}

#infoHubNavbar h2 {
  float: left;
  margin: 8vmin 0 0 -1vmin;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 24px;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#infoHubNavbar h2:active {
  text-shadow: -1px -1px 1px #201702;
}

#infoHubNavbar h2:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#infoHubNavbar h1 {
  float: left;
  margin: 1vmin 0 0 -1vmin;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 36px;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#infoHubNavbar h1:active {
  text-shadow: -1px -1px 1px #201702;
}

#infoHubNavbar h1:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#infoHubNavbar p {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #ED4E0E;
  text-shadow: -1px -1px 1px #201702, -2px -2px 1px #201702, -3px -3px 1px #201702, -4px -4px 1px #201702, -5px -5px 1px #201702;

}

#infoHubNavbar a {
  /* float: left; */
  /* margin-left: 3vmin; */
  /* margin-top: 4vmin; */
  /* padding-bottom: 2vmin; */
  /* height: 5vmin; */
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#infoHubNavbar a p:active {
  text-shadow: -1px -1px 1px #201702;
}

#infoHubNavbar a p:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

.infoNumbers {
  font-family: 'Roboto', serif;
  /* align-content: center; */
  padding: 0 0 0 40%;
  margin: 0 0 0 0;
  float: left;
  color: #000000;
}

.infoQuarterHeadline {
  margin: -200px 0 0 0;
}

.infoArrows {
  float: right;
}
