.lowpassFilterSliderJanuaryA {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffffff;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #00ff00, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #00ff00, #C0C0C0);
  background: -o-linear-gradient(45deg, #00ff00, #C0C0C0);
  background: linear-gradient(45deg, #00ff00, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderJanuaryA::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 55px;
    border: solid 2px #ffffff;
    background-color: #eeeeee;
    background-color: -webkit-linear-gradient(45deg, #00ff00, #C0C0C0);
    background: -webkit-linear-gradient(45deg, #00ff00, #C0C0C0);
    background: -o-linear-gradient(45deg, #00ff00, #C0C0C0);
    background: linear-gradient(45deg, #00ff00, #C0C0C0);
    cursor: pointer;
}

.lowpassFilterSliderJanuaryB {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #FFFF66;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: -o-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: linear-gradient(45deg, #2F4F4F, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderJanuaryB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #FFFF66;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: -o-linear-gradient(45deg, #2F4F4F, #C0C0C0);
  background: linear-gradient(45deg, #2F4F4F, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderJanuaryC {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #e5e5ff;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: -o-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: linear-gradient(45deg, #8000ff, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderJanuaryC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #e5e5ff;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: -o-linear-gradient(45deg, #8000ff, #C0C0C0);
  background: linear-gradient(45deg, #8000ff, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryA {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #7CFC00;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: -o-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: linear-gradient(45deg, #2E8B57, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryA::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #7CFC00;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: -o-linear-gradient(45deg, #2E8B57, #C0C0C0);
  background: linear-gradient(45deg, #2E8B57, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryB {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffffcc;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: -o-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: linear-gradient(45deg, #b2b200, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffffcc;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: -webkit-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: -o-linear-gradient(45deg, #b2b200, #C0C0C0);
  background: linear-gradient(45deg, #b2b200, #C0C0C0);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryC {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #3232ff;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #000066, #b2b2ff);
  background: -webkit-linear-gradient(45deg, #000066, #b2b2ff);
  background: -o-linear-gradient(45deg, #000066, #b2b2ff);
  background: linear-gradient(45deg, #000066, #b2b2ff);
  cursor: pointer;
}

.lowpassFilterSliderFebruaryC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #3232ff;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #000066, #b2b2ff);
  background: -webkit-linear-gradient(45deg, #000066, #b2b2ff);
  background: -o-linear-gradient(45deg, #000066, #b2b2ff);
  background: linear-gradient(45deg, #000066, #b2b2ff);
  cursor: pointer;
}

.lowpassFilterSliderMarchA {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffff6f;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #b2b223, #ffff98);
  background: -webkit-linear-gradient(45deg, #b2b223, #ffff98);
  background: -o-linear-gradient(45deg, #b2b223, #ffff98);
  background: linear-gradient(45deg, #b2b223, #ffff98);
  cursor: pointer;
}

.lowpassFilterSliderMarchA::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffff6f;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #b2b223, #ffff98);
  background: -webkit-linear-gradient(45deg, #b2b223, #ffff98);
  background: -o-linear-gradient(45deg, #b2b223, #ffff98);
  background: linear-gradient(45deg, #b2b223, #ffff98);
  cursor: pointer;
}

.lowpassFilterSliderMarchB {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffb62f;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: -webkit-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: -o-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: linear-gradient(45deg, #ffae19, #ffe6ba);
  cursor: pointer;
}

.lowpassFilterSliderMarchB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ffb62f;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: -webkit-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: -o-linear-gradient(45deg, #ffae19, #ffe6ba);
  background: linear-gradient(45deg, #ffae19, #ffe6ba);
  cursor: pointer;
}

.lowpassFilterSliderMarchC {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #32ff32;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -o-linear-gradient(45deg, #006600, #ccffcc);
  background: linear-gradient(45deg, #006600, #ccffcc);
  cursor: pointer;
}

.lowpassFilterSliderMarchC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #32ff32;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -webkit-linear-gradient(45deg, #006600, #ccffcc);
  background: -o-linear-gradient(45deg, #006600, #ccffcc);
  background: linear-gradient(45deg, #006600, #ccffcc);
  cursor: pointer;
}

.lowpassFilterSliderAprilA {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ef4545;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #8d0d0d, #f37373);
  background: -webkit-linear-gradient(45deg, #8d0d0d, #f37373);
  background: -o-linear-gradient(45deg, #8d0d0d, #f37373);
  background: linear-gradient(45deg, #8d0d0d, #f37373);
  cursor: pointer;
}

.lowpassFilterSliderAprilA::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #ef4545;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #8d0d0d, #f37373);
  background: -webkit-linear-gradient(45deg, #8d0d0d, #f37373);
  background: -o-linear-gradient(45deg, #8d0d0d, #f37373);
  background: linear-gradient(45deg, #8d0d0d, #f37373);
  cursor: pointer;
}

.lowpassFilterSliderAprilB {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #f5f54b;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: -webkit-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: -o-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: linear-gradient(45deg, #7a7a1c, #f7f773);
  cursor: pointer;
}

.lowpassFilterSliderAprilB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #f5f54b;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: -webkit-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: -o-linear-gradient(45deg, #7a7a1c, #f7f773);
  background: linear-gradient(45deg, #7a7a1c, #f7f773);
  cursor: pointer;
}

.lowpassFilterSliderAprilC {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #fd3a3a;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #972222, #fd8888);
  background: -webkit-linear-gradient(45deg, #972222, #fd8888);
  background: -o-linear-gradient(45deg, #972222, #fd8888);
  background: linear-gradient(45deg, #972222, #fd8888);
  cursor: pointer;
}

.lowpassFilterSliderAprilC::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 55px;
  border: solid 2px #fd3a3a;
  background-color: #eeeeee;
  background-color: -webkit-linear-gradient(45deg, #972222, #fd8888);
  background: -webkit-linear-gradient(45deg, #972222, #fd8888);
  background: -o-linear-gradient(45deg, #972222, #fd8888);
  background: linear-gradient(45deg, #972222, #fd8888);
  cursor: pointer;
}
