#masterMixerDiv {
  width: 100%;
  height: 655px;
  overflow-y: scroll;
  position: absolute;
}

#mixerSidebar h2 {
  margin: 2vmin 0 0 3vmin;
  font-size: 30px;
  font-variant: normal;
  font-weight: 500;
  color: #ED4E0E;
}

#signalPathEditorSpace {
  opacity: 0.9;
  position: inherit;
  display: block;
  height: 600vh;
  border: 1px solid white;
  /* border-bottom: solid 4px #00FF66; */
  background: #282828;
  overflow-y: scroll;
  width: 90%;
}

.mixerSideOffScreen {
  position: absolute;
  left: -16%;
  z-index: 77;
  transition: left 0.5s linear;
}

.mixerSideOnScreen {
  position: absolute;
  left: 0%;
  z-index: 77;
  transition: left 0.5s linear;
}

#mixerPatchSetting {
  float: left;
  width: 20%;
}

#mixerLoadButton {
  position: relative;
  margin: 1px 15px 3px 35px;
  text-decoration: none;
}

#mixerSaveButton {
  position: relative;
  margin: 1px 15px 3px 15px;
  text-decoration: none;
}

#mixerPatchSetting a {
  text-decoration: none;
}

#mixerNavbar {
  width: 100%;
  height: 90px;
  background: #dbdbbc;
  background-color: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: linear-gradient(-45deg, #dbdbbc, #003f8f);
  border-bottom: solid 4px #2a3748;
}

#mixerNavbar h2 {
  float: left;
  margin: 8vmin 0 0 -1vmin;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 24px;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#mixerNavbar h2:active {
  text-shadow: -1px -1px 1px #809fc7;
}

#mixerNavbar h2:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#mixerNavbar h1 {
  float: left;
  margin: 1vmin 0 0 14vmin;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 36px;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#mixerNavbar h1:active {
  text-shadow: -1px -1px 1px #201702;
}

#mixerNavbar h1:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#mixerNavbar p {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;

}

#mixerNavbar a {
  float: left;
  margin-left: 0.5vmin;
  margin-top: -0;
  padding-bottom: 0;
  height: 2vmin;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#mixerNavbar a p:active {
  text-shadow: -1px -1px 1px #809fc7;
}

#mixerNavbar a p:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#mixerEditorSelection {
  margin: 30px 0 1px 10px;

  float: left;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}


#mixerEditorSelection:focus {
filter: brightness(110%) hue-rotate(45deg);
}

#mixerEditorSelection:hover {
border-color: #e0dedf;
}

#mixerEditorSelection option {
font-family: 'Sawarabi Mincho', sans-serif;
font-size: 18px;
font-weight: bold;
}

#mixerPageLabel {
  float: left;
  margin-left: -7%;
  margin-right: 4%;
  padding-left: 0;
  width: 25%;
}

#mixerPlaceholder {
  font-size: 48px;
  color: transparent;
  left: 99%;
  position: relative;
  top: 99%;
}

#whatIsMixer {
  background: #dbdbbc;
  border: 4px solid #003f8f;
  color: #010101;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 13px;
  height: auto;
  left: 1%;
  opacity: 0;
  padding: 5px 15px;
  position: absolute;
  top: 7%;
  width: 17%;
  z-index: -5;
}
