.oscillatorJanuaryASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #9CBCDB;
  background-color: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -o-linear-gradient(-135deg, #254369, #9CBCDB);
  background: linear-gradient(-135deg, #254369, #9CBCDB);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #cc0066, 2px -2px 1px #cc0066, 3px -3px 1px #cc0066, 4px -4px 1px #cc0066;
}

.oscillatorJanuaryASlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #9CBCDB;
  background-color: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -o-linear-gradient(-135deg, #254369, #9CBCDB);
  background: linear-gradient(-135deg, #254369, #9CBCDB);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #cc0066, 2px -2px 1px #cc0066, 3px -3px 1px #cc0066, 4px -4px 1px #cc0066;
}

.oscillatorJanuaryBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #D2691E, 2px -2px 1px #D2691E, 3px -3px 1px #D2691E, 4px -4px 1px #D2691E;
}

.oscillatorJanuaryBSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #D2691E, 2px -2px 1px #D2691E, 3px -3px 1px #D2691E, 4px -4px 1px #D2691E;
}

.oscillatorJanuaryCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FF003F, 2px -2px 1px #FF003F, 3px -3px 1px #FF003F, 4px -4px 1px #FF003F;
}

.oscillatorJanuaryCSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FF003F, 2px -2px 1px #FF003F, 3px -3px 1px #FF003F, 4px -4px 1px #FF003F;
}

.oscillatorFebruaryASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -o-linear-gradient(-135deg, #FF0000, #054BA1);
  background: linear-gradient(-135deg, #FF0000, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #26FF26, 2px -2px 1px #26FF26, 3px -3px 1px #26FF26, 4px -4px 1px #26FF26;
}

.oscillatorFebruaryASlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -o-linear-gradient(-135deg, #FF0000, #054BA1);
  background: linear-gradient(-135deg, #FF0000, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #26FF26, 2px -2px 1px #26FF26, 3px -3px 1px #26FF26, 4px -4px 1px #26FF26;
}

.oscillatorFebruaryBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -o-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: linear-gradient(-135deg, #FF0000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #4c4c07, 2px -2px 1px #4c4c07, 3px -3px 1px #4c4c07, 4px -4px 1px #4c4c07;
}

.oscillatorFebruaryBSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -o-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: linear-gradient(-135deg, #FF0000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #4c4c07, 2px -2px 1px #4c4c07, 3px -3px 1px #4c4c07, 4px -4px 1px #4c4c07;
}

.oscillatorFebruaryCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -o-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: linear-gradient(-135deg, #f600ff, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #013300, 2px -2px 1px #013300, 3px -3px 1px #013300, 4px -4px 1px #013300;
}

.oscillatorFebruaryCSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -o-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: linear-gradient(-135deg, #f600ff, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #013300, 2px -2px 1px #013300, 3px -3px 1px #013300, 4px -4px 1px #013300;
}

.oscillatorMarchASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -o-linear-gradient(-135deg, #e50000, #ffffd1);
  background: linear-gradient(-135deg, #e50000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.oscillatorMarchASlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -o-linear-gradient(-135deg, #e50000, #ffffd1);
  background: linear-gradient(-135deg, #e50000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.oscillatorMarchBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -o-linear-gradient(-135deg, #666600, #ffffd1);
  background: linear-gradient(-135deg, #666600, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff66, 2px -2px 1px #ffff66, 3px -3px 1px #ffff66, 4px -4px 1px #ffff66;
}

.oscillatorMarchBSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -o-linear-gradient(-135deg, #666600, #ffffd1);
  background: linear-gradient(-135deg, #666600, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff66, 2px -2px 1px #ffff66, 3px -3px 1px #ffff66, 4px -4px 1px #ffff66;
}

.oscillatorMarchCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffe5e5;
  background-color: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -o-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #990000, 2px -2px 1px #990000, 3px -3px 1px #990000, 4px -4px 1px #990000;
}

.oscillatorMarchCSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffe5e5;
  background-color: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -o-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #990000, 2px -2px 1px #990000, 3px -3px 1px #990000, 4px -4px 1px #990000;
}

.oscillatorAprilASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #fcfce5;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -o-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: linear-gradient(-135deg, #e5e500, #fcfce5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #e7e719, 2px -2px 1px #e7e719, 3px -3px 1px #e7e719, 4px -4px 1px #e7e719;
}

.oscillatorAprilASlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #fcfce5;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -o-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: linear-gradient(-135deg, #e5e500, #fcfce5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #e7e719, 2px -2px 1px #e7e719, 3px -3px 1px #e7e719, 4px -4px 1px #e7e719;
}

.oscillatorAprilBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ff9898;
  background-color: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -o-linear-gradient(-135deg, #661414, #ff9898);
  background: linear-gradient(-135deg, #661414, #ff9898);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff4646, 2px -2px 1px #ff4646, 3px -3px 1px #ff4646, 4px -4px 1px #ff4646;
}

.oscillatorAprilBSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ff9898;
  background-color: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -o-linear-gradient(-135deg, #661414, #ff9898);
  background: linear-gradient(-135deg, #661414, #ff9898);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff4646, 2px -2px 1px #ff4646, 3px -3px 1px #ff4646, 4px -4px 1px #ff4646;
}

.oscillatorAprilCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #ffff7f;
  background-color: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -o-linear-gradient(-135deg, #333300, #ffff7f);
  background: linear-gradient(-135deg, #333300, #ffff7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff32, 2px -2px 1px #ffff32, 3px -3px 1px #ffff32, 4px -4px 1px #ffff32;
}

.oscillatorAprilCSlider::-moz-range-thumb {
  width: 52px;
  height: 49px;
  background-color: #ffff7f;
  background-color: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -o-linear-gradient(-135deg, #333300, #ffff7f);
  background: linear-gradient(-135deg, #333300, #ffff7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff32, 2px -2px 1px #ffff32, 3px -3px 1px #ffff32, 4px -4px 1px #ffff32;
}

.oscillatorDetuneJanuaryASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #9CBCDB;
  background-color: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -o-linear-gradient(-135deg, #254369, #9CBCDB);
  background: linear-gradient(-135deg, #254369, #9CBCDB);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #cc0066, -2px -2px 1px #cc0066, -3px -3px 1px #cc0066, -4px -4px 1px #cc0066;
}

.oscillatorDetuneJanuaryASlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #9CBCDB;
  background-color: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -webkit-linear-gradient(-135deg, #254369, #9CBCDB);
  background: -o-linear-gradient(-135deg, #254369, #9CBCDB);
  background: linear-gradient(-135deg, #254369, #9CBCDB);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #cc0066, -2px -2px 1px #cc0066, -3px -3px 1px #cc0066, -4px -4px 1px #cc0066;
}

.oscillatorDetuneJanuaryBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #D2691E, -2px -2px 1px #D2691E, -3px -3px 1px #D2691E, -4px -4px 1px #D2691E;
}

.oscillatorDetuneJanuaryBSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #D2691E, -2px -2px 1px #D2691E, -3px -3px 1px #D2691E, -4px -4px 1px #D2691E;
}

.oscillatorDetuneJanuaryCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FF003F, -2px -2px 1px #FF003F, -3px -3px 1px #FF003F, -4px -4px 1px #FF003F;
}

.oscillatorDetuneJanuaryCSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -webkit-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: -o-linear-gradient(-135deg, #7CCBF2, #054BA1);
  background: linear-gradient(-135deg, #7CCBF2, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FF003F, -2px -2px 1px #FF003F, -3px -3px 1px #FF003F, -4px -4px 1px #FF003F;
}

.oscillatorDetuneFebruaryASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -o-linear-gradient(-135deg, #FF0000, #054BA1);
  background: linear-gradient(-135deg, #FF0000, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #26FF26, -2px -2px 1px #26FF26, -3px -3px 1px #26FF26, -4px -4px 1px #26FF26;
}

.oscillatorDetuneFebruaryASlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #054BA1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #054BA1);
  background: -o-linear-gradient(-135deg, #FF0000, #054BA1);
  background: linear-gradient(-135deg, #FF0000, #054BA1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #26FF26, -2px -2px 1px #26FF26, -3px -3px 1px #26FF26, -4px -4px 1px #26FF26;
}

.oscillatorDetuneFebruaryBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -o-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: linear-gradient(-135deg, #FF0000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #4c4c07, -2px -2px 1px #4c4c07, -3px -3px 1px #4c4c07, -4px -4px 1px #4c4c07;
}

.oscillatorDetuneFebruaryBSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: -o-linear-gradient(-135deg, #FF0000, #ffffd1);
  background: linear-gradient(-135deg, #FF0000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #4c4c07, -2px -2px 1px #4c4c07, -3px -3px 1px #4c4c07, -4px -4px 1px #4c4c07;
}

.oscillatorDetuneFebruaryCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -o-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: linear-gradient(-135deg, #f600ff, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #013300, -2px -2px 1px #013300, -3px -3px 1px #013300, -4px -4px 1px #013300;
}

.oscillatorDetuneFebruaryCSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: -o-linear-gradient(-135deg, #f600ff, #ffffd1);
  background: linear-gradient(-135deg, #f600ff, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #013300, -2px -2px 1px #013300, -3px -3px 1px #013300, -4px -4px 1px #013300;
}

.oscillatorDetuneMarchASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -o-linear-gradient(-135deg, #e50000, #ffffd1);
  background: linear-gradient(-135deg, #e50000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.oscillatorDetuneMarchASlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #e50000, #ffffd1);
  background: -o-linear-gradient(-135deg, #e50000, #ffffd1);
  background: linear-gradient(-135deg, #e50000, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.oscillatorDetuneMarchBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -o-linear-gradient(-135deg, #666600, #ffffd1);
  background: linear-gradient(-135deg, #666600, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff66, -2px -2px 1px #ffff66, -3px -3px 1px #ffff66, -4px -4px 1px #ffff66;
}

.oscillatorDetuneMarchBSlider::-moz-range-thumb {
  width: 24px;
  height: 43px;
  background-color: #ffffd1;
  background-color: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -webkit-linear-gradient(-135deg, #666600, #ffffd1);
  background: -o-linear-gradient(-135deg, #666600, #ffffd1);
  background: linear-gradient(-135deg, #666600, #ffffd1);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff66, -2px -2px 1px #ffff66, -3px -3px 1px #ffff66, -4px -4px 1px #ffff66;
}

.oscillatorDetuneMarchCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffe5e5;
  background-color: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -o-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #990000, -2px -2px 1px #990000, -3px -3px 1px #990000, -4px -4px 1px #990000;
}

.oscillatorDetuneMarchCSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ffe5e5;
  background-color: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -webkit-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: -o-linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background: linear-gradient(-135deg, #ff4c4c, #ffe5e5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #990000, -2px -2px 1px #990000, -3px -3px 1px #990000, -4px -4px 1px #990000;
}

.oscillatorDetuneAprilASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #fcfce5;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -o-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: linear-gradient(-135deg, #e5e500, #fcfce5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #e7e719, -2px -2px 1px #e7e719, -3px -3px 1px #e7e719, -4px -4px 1px #e7e719;
}

.oscillatorDetuneAprilASlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #fcfce5;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -webkit-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: -o-linear-gradient(-135deg, #e5e500, #fcfce5);
  background: linear-gradient(-135deg, #e5e500, #fcfce5);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #e7e719, -2px -2px 1px #e7e719, -3px -3px 1px #e7e719, -4px -4px 1px #e7e719;
}

.oscillatorDetuneAprilBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ff9898;
  background-color: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -o-linear-gradient(-135deg, #661414, #ff9898);
  background: linear-gradient(-135deg, #661414, #ff9898);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff4646, -2px -2px 1px #ff4646, -3px -3px 1px #ff4646, -4px -4px 1px #ff4646;
}

.oscillatorDetuneAprilBSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ff9898;
  background-color: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -webkit-linear-gradient(-135deg, #661414, #ff9898);
  background: -o-linear-gradient(-135deg, #661414, #ff9898);
  background: linear-gradient(-135deg, #661414, #ff9898);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff4646, -2px -2px 1px #ff4646, -3px -3px 1px #ff4646, -4px -4px 1px #ff4646;
}

.oscillatorDetuneAprilCSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 32px;
  background-color: #ffff7f;
  background-color: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -o-linear-gradient(-135deg, #333300, #ffff7f);
  background: linear-gradient(-135deg, #333300, #ffff7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff32, -2px -2px 1px #ffff32, -3px -3px 1px #ffff32, -4px -4px 1px #ffff32;
}

.oscillatorDetuneAprilCSlider::-moz-range-thumb {
  width: 24px;
  height: 32px;
  background-color: #ffff7f;
  background-color: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -webkit-linear-gradient(-135deg, #333300, #ffff7f);
  background: -o-linear-gradient(-135deg, #333300, #ffff7f);
  background: linear-gradient(-135deg, #333300, #ffff7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff32, -2px -2px 1px #ffff32, -3px -3px 1px #ffff32, -4px -4px 1px #ffff32;
}
