.testtoneJanuaryASlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #00FE7F, 2px -2px 1px #00FE7F, 3px -3px 1px #00FE7F, 4px -4px 1px #00FE7F;
}

.testtoneJanuaryASlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #00FE7F, 2px -2px 1px #00FE7F, 3px -3px 1px #00FE7F, 4px -4px 1px #00FE7F;
}

.testtoneJanuaryASliderHorizontal::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #00FE7F, -2px -2px 1px #00FE7F, -3px -3px 1px #00FE7F, -4px -4px 1px #00FE7F;
}

.testtoneJanuaryASliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #00FE7F, -2px -2px 1px #00FE7F, -3px -3px 1px #00FE7F, -4px -4px 1px #00FE7F;
}

.testtoneJanuaryASliderVertical::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #00FE7F, 2px -2px 1px #00FE7F, 3px -3px 1px #00FE7F, 4px -4px 1px #00FE7F;
}

.testtoneJanuaryASliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #00FE7F, 2px -2px 1px #00FE7F, 3px -3px 1px #00FE7F, 4px -4px 1px #00FE7F;
}

.testtoneJanuaryBSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryBSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryBSliderHorizontal::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneJanuaryBSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneJanuaryBSliderVertical::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryBSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneJanuaryCSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneFebruaryASlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneFebruaryASlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneFebruaryASliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneFebruaryASliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #FFFE00, -2px -2px 1px #FFFE00, -3px -3px 1px #FFFE00, -4px -4px 1px #FFFE00;
}

.testtoneFebruaryASliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
    background: linear-gradient(-135deg, #B8C9D2, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneFebruaryASliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -webkit-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: -o-linear-gradient(-135deg, #B8C9D2, #73899E);
  background: linear-gradient(-135deg, #B8C9D2, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #FFFE00, 2px -2px 1px #FFFE00, 3px -3px 1px #FFFE00, 4px -4px 1px #FFFE00;
}

.testtoneFebruaryBSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -o-linear-gradient(-135deg, #1919ff, #73899E);
    background: linear-gradient(-135deg, #1919ff, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #b2b2ff, 2px -2px 1px #b2b2ff, 3px -3px 1px #b2b2ff, 4px -4px 1px #b2b2ff;
}

.testtoneFebruaryBSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -o-linear-gradient(-135deg, #1919ff, #73899E);
  background: linear-gradient(-135deg, #1919ff, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #b2b2ff, 2px -2px 1px #b2b2ff, 3px -3px 1px #b2b2ff, 4px -4px 1px #b2b2ff;
}

.testtoneFebruaryBSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -o-linear-gradient(-135deg, #1919ff, #73899E);
    background: linear-gradient(-135deg, #1919ff, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #b2b2ff, -2px -2px 1px #b2b2ff, -3px -3px 1px #b2b2ff, -4px -4px 1px #b2b2ff;
}

.testtoneFebruaryBSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -o-linear-gradient(-135deg, #1919ff, #73899E);
  background: linear-gradient(-135deg, #1919ff, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #b2b2ff, -2px -2px 1px #b2b2ff, -3px -3px 1px #b2b2ff, -4px -4px 1px #b2b2ff;
}

.testtoneFebruaryBSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
    background: -o-linear-gradient(-135deg, #1919ff, #73899E);
    background: linear-gradient(-135deg, #1919ff, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #b2b2ff, 2px -2px 1px #b2b2ff, 3px -3px 1px #b2b2ff, 4px -4px 1px #b2b2ff;
}

.testtoneFebruaryBSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -webkit-linear-gradient(-135deg, #1919ff, #73899E);
  background: -o-linear-gradient(-135deg, #1919ff, #73899E);
  background: linear-gradient(-135deg, #1919ff, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #b2b2ff, 2px -2px 1px #b2b2ff, 3px -3px 1px #b2b2ff, 4px -4px 1px #b2b2ff;
}

.testtoneFebruaryCSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
    background: linear-gradient(-135deg, #20B2AA, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ADFF2F, 2px -2px 1px #ADFF2F, 3px -3px 1px #ADFF2F, 4px -4px 1px #ADFF2F;
}

.testtoneFebruaryCSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
  background: linear-gradient(-135deg, #20B2AA, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ADFF2F, 2px -2px 1px #ADFF2F, 3px -3px 1px #ADFF2F, 4px -4px 1px #ADFF2F;
}

.testtoneFebruaryCSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
    background: linear-gradient(-135deg, #20B2AA, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #ADFF2F, -2px -2px 1px #ADFF2F, -3px -3px 1px #ADFF2F, -4px -4px 1px #ADFF2F;
}

.testtoneFebruaryCSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
  background: linear-gradient(-135deg, #20B2AA, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ADFF2F, -2px -2px 1px #ADFF2F, -3px -3px 1px #ADFF2F, -4px -4px 1px #ADFF2F;
}

.testtoneFebruaryCSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #73899E;
    background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
    background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
    background: linear-gradient(-135deg, #20B2AA, #73899E);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ADFF2F, 2px -2px 1px #ADFF2F, 3px -3px 1px #ADFF2F, 4px -4px 1px #ADFF2F;
}

.testtoneFebruaryCSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -webkit-linear-gradient(-135deg, #20B2AA, #73899E);
  background: -o-linear-gradient(-135deg, #20B2AA, #73899E);
  background: linear-gradient(-135deg, #20B2AA, #73899E);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ADFF2F, 2px -2px 1px #ADFF2F, 3px -3px 1px #ADFF2F, 4px -4px 1px #ADFF2F;
}

.testtoneMarchASlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: linear-gradient(-135deg, #ffb2b2, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneMarchASlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: linear-gradient(-135deg, #ffb2b2, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneMarchASliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: linear-gradient(-135deg, #ffb2b2, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.testtoneMarchASliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: linear-gradient(-135deg, #ffb2b2, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.testtoneMarchASliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
    background: linear-gradient(-135deg, #ffb2b2, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneMarchASliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -webkit-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: -o-linear-gradient(-135deg, #ffb2b2, #7f0000);
  background: linear-gradient(-135deg, #ffb2b2, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneMarchBSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
    background: linear-gradient(-135deg, #e5e500, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff4c, 2px -2px 1px #ffff4c, 3px -3px 1px #ffff4c, 4px -4px 1px #ffff4c;
}

.testtoneMarchBSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
  background: linear-gradient(-135deg, #e5e500, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff4c, 2px -2px 1px #ffff4c, 3px -3px 1px #ffff4c, 4px -4px 1px #ffff4c;
}

.testtoneMarchBSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
    background: linear-gradient(-135deg, #e5e500, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #ffff4c, -2px -2px 1px #ffff4c, -3px -3px 1px #ffff4c, -4px -4px 1px #ffff4c;
}

.testtoneMarchBSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
  background: linear-gradient(-135deg, #e5e500, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff4c, -2px -2px 1px #ffff4c, -3px -3px 1px #ffff4c, -4px -4px 1px #ffff4c;
}

.testtoneMarchBSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #7f0000;
    background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
    background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
    background: linear-gradient(-135deg, #e5e500, #7f0000);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff4c, 2px -2px 1px #ffff4c, 3px -3px 1px #ffff4c, 4px -4px 1px #ffff4c;
}

.testtoneMarchBSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #7f0000;
  background-color: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -webkit-linear-gradient(-135deg, #e5e500, #7f0000);
  background: -o-linear-gradient(-135deg, #e5e500, #7f0000);
  background: linear-gradient(-135deg, #e5e500, #7f0000);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff4c, 2px -2px 1px #ffff4c, 3px -3px 1px #ffff4c, 4px -4px 1px #ffff4c;
}

.testtoneMarchCSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #687817;
    background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -o-linear-gradient(-135deg, #daf357, #687817);
    background: linear-gradient(-135deg, #daf357, #687817);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #d1f02e, 2px -2px 1px #d1f02e, 3px -3px 1px #d1f02e, 4px -4px 1px #d1f02e;
}

.testtoneMarchCSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #687817;
  background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -o-linear-gradient(-135deg, #daf357, #687817);
  background: linear-gradient(-135deg, #daf357, #687817);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #d1f02e, 2px -2px 1px #d1f02e, 3px -3px 1px #d1f02e, 4px -4px 1px #d1f02e;
}

.testtoneMarchCSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #687817;
    background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -o-linear-gradient(-135deg, #daf357, #687817);
    background: linear-gradient(-135deg, #daf357, #687817);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #d1f02e, -2px -2px 1px #d1f02e, -3px -3px 1px #d1f02e, -4px -4px 1px #d1f02e;
}

.testtoneMarchCSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #687817;
  background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -o-linear-gradient(-135deg, #daf357, #687817);
  background: linear-gradient(-135deg, #daf357, #687817);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #d1f02e, -2px -2px 1px #d1f02e, -3px -3px 1px #d1f02e, -4px -4px 1px #d1f02e;
}

.testtoneMarchCSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #687817;
    background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -webkit-linear-gradient(-135deg, #daf357, #687817);
    background: -o-linear-gradient(-135deg, #daf357, #687817);
    background: linear-gradient(-135deg, #daf357, #687817);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #d1f02e, 2px -2px 1px #d1f02e, 3px -3px 1px #d1f02e, 4px -4px 1px #d1f02e;
}

.testtoneMarchCSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #687817;
  background-color: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -webkit-linear-gradient(-135deg, #daf357, #687817);
  background: -o-linear-gradient(-135deg, #daf357, #687817);
  background: linear-gradient(-135deg, #daf357, #687817);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #d1f02e, 2px -2px 1px #d1f02e, 3px -3px 1px #d1f02e, 4px -4px 1px #d1f02e;
}

.testtoneAprilASlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #99ff99;
    background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -o-linear-gradient(-135deg, #007f00, #99ff99);
    background: linear-gradient(-135deg, #007f00, #99ff99);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.testtoneAprilASlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #99ff99;
  background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -o-linear-gradient(-135deg, #007f00, #99ff99);
  background: linear-gradient(-135deg, #007f00, #99ff99);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.testtoneAprilASliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #99ff99;
    background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -o-linear-gradient(-135deg, #007f00, #99ff99);
    background: linear-gradient(-135deg, #007f00, #99ff99);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #4cff4c, -2px -2px 1px #4cff4c, -3px -3px 1px #4cff4c, -4px -4px 1px #4cff4c;
}

.testtoneAprilASliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #99ff99;
  background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -o-linear-gradient(-135deg, #007f00, #99ff99);
  background: linear-gradient(-135deg, #007f00, #99ff99);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #4cff4c, -2px -2px 1px #4cff4c, -3px -3px 1px #4cff4c, -4px -4px 1px #4cff4c;
}

.testtoneAprilASliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #99ff99;
    background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
    background: -o-linear-gradient(-135deg, #007f00, #99ff99);
    background: linear-gradient(-135deg, #007f00, #99ff99);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.testtoneAprilASliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #99ff99;
  background-color: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -webkit-linear-gradient(-135deg, #007f00, #99ff99);
  background: -o-linear-gradient(-135deg, #007f00, #99ff99);
  background: linear-gradient(-135deg, #007f00, #99ff99);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #4cff4c, 2px -2px 1px #4cff4c, 3px -3px 1px #4cff4c, 4px -4px 1px #4cff4c;
}

.testtoneAprilBSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #ff7f7f;
    background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: linear-gradient(-135deg, #7f0000, #ff7f7f);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneAprilBSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #ff7f7f;
  background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: linear-gradient(-135deg, #7f0000, #ff7f7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneAprilBSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #ff7f7f;
    background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: linear-gradient(-135deg, #7f0000, #ff7f7f);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.testtoneAprilBSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #ff7f7f;
  background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: linear-gradient(-135deg, #7f0000, #ff7f7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ff3232, -2px -2px 1px #ff3232, -3px -3px 1px #ff3232, -4px -4px 1px #ff3232;
}

.testtoneAprilBSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #ff7f7f;
    background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
    background: linear-gradient(-135deg, #7f0000, #ff7f7f);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneAprilBSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #ff7f7f;
  background-color: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -webkit-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: -o-linear-gradient(-135deg, #7f0000, #ff7f7f);
  background: linear-gradient(-135deg, #7f0000, #ff7f7f);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ff3232, 2px -2px 1px #ff3232, 3px -3px 1px #ff3232, 4px -4px 1px #ff3232;
}

.testtoneAprilCSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 49px;
    background-color: #ffff66;
    background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: linear-gradient(-135deg, #4c4c00, #ffff66);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff19, 2px -2px 1px #ffff19, 3px -3px 1px #ffff19, 4px -4px 1px #ffff19;
}

.testtoneAprilCSlider::-moz-range-thumb {
  width: 42px;
  height: 49px;
  background-color: #ffff66;
  background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: linear-gradient(-135deg, #4c4c00, #ffff66);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff19, 2px -2px 1px #ffff19, 3px -3px 1px #ffff19, 4px -4px 1px #ffff19;
}

.testtoneAprilCSliderHorizontal::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #ffff66;
    background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: linear-gradient(-135deg, #4c4c00, #ffff66);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px -1px 1px #ffff19, -2px -2px 1px #ffff19, -3px -3px 1px #ffff19, -4px -4px 1px #ffff19;
}

.testtoneAprilCSliderHorizontal::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #ffff66;
  background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: linear-gradient(-135deg, #4c4c00, #ffff66);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: -1px -1px 1px #ffff19, -2px -2px 1px #ffff19, -3px -3px 1px #ffff19, -4px -4px 1px #ffff19;
}

.testtoneAprilCSliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: #ffff66;
    background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
    background: linear-gradient(-135deg, #4c4c00, #ffff66);
    background-size: 140%;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 1px -1px 1px #ffff19, 2px -2px 1px #ffff19, 3px -3px 1px #ffff19, 4px -4px 1px #ffff19;
}

.testtoneAprilCSliderVertical::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background-color: #ffff66;
  background-color: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -webkit-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: -o-linear-gradient(-135deg, #4c4c00, #ffff66);
  background: linear-gradient(-135deg, #4c4c00, #ffff66);
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px -1px 1px #ffff19, 2px -2px 1px #ffff19, 3px -3px 1px #ffff19, 4px -4px 1px #ffff19;
}

.testToneSwitch {
  margin: 6vmin 0 0 1vmin;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 48px;
  box-shadow: -1px -1px 1px #ADFF2F, -2px -2px 1px #ADFF2F, -3px -3px 1px #ADFF2F;
}

.testToneSwitch input {
  display:none;
}

.testToneSlider {
  background: url(../img/february/6720216_20.jpg);
  background-size: 600%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.testToneSlider:before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  left: 4px;
  bottom: 4px;
  background-color: #73899E;
  background-color: -webkit-linear-gradient(135deg, #20B2AA, #73899E);
  background: -webkit-linear-gradient(135deg, #20B2AA, #73899E);
  background: -o-linear-gradient(135deg, #20B2AA, #73899E);
  background: linear-gradient(135deg, #20B2AA, #73899E);

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .testToneSlider {
  filter: hue-rotate(-135deg);
  background-color: #2196F3;
}

input:focus + .testToneSlider {

  box-shadow: 0 0 1px #2196F3;
}

input:checked + .testToneSlider:before {

  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}
