#hubNavbar {
  width: 100%;
  height: 80px;
  background: #dbdbbc;
  background-color: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: linear-gradient(-45deg, #dbdbbc, #003f8f);
  border-bottom: solid 4px #2a3748;
}


#hubNavbar img {
  float: left;
  width: 6%;
  margin: 2vmin;
  border: solid 2px #2a3748;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
}

#hubNavbar img:active {
  box-shadow: -1px -1px 1px #809fc7;
}

#hubNavbar h2 {
  float: left;
  margin: 8vmin 0 0 -1vmin;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 24px;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#hubNavbar h2:active {
  text-shadow: -1px -1px 1px #809fc7;
}

#hubNavbar h2:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#hubNavbar h1 {
  float: left;
  font-family: 'Days One', sans-serif;
  font-size: 48px;
  color: #e0dedf;
  margin: 0 0 3vmin 2vmin;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  cursor: pointer;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#hubNavbar h1:active {
  text-shadow: -1px -1px 1px #809fc7;
}

#hubNavbar h1:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#hubNavbar p {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #e0dedf;
  text-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;

}

#hubNavbar a {
  float: left;
  margin-left: 0.5vmin;
  margin-top: -0;
  padding-bottom: 0;
  height: 2vmin;
  filter: hue-rotate(0deg);
  transition: filter 1000ms linear;
}

#hubNavbar a p:active {
  text-shadow: -1px -1px 1px #809fc7;
}

#hubNavbar a p:hover {
  filter: hue-rotate(180deg);
  transition: filter 1000ms linear;
}

#hubUserName {
  width: 17%;
  /* overflow: scroll; */
  height:38px;
  width: auto;
}

#freqDomain2Hubspot {
  width: 100%;
  height: auto;
  /* margin: 10px 5px 5px 5px; */
  background: transparent;
  opacity: 0.9;

  /* padding: 2vmin; */
}

#freqDomain2Hubspot p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #e0dedf;
}

#freqDomain2Hubspot h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #e0dedf;
  margin: -1vmin 0 1vmin 4vmin;
}

#newsTicker {
  background-size: 100%;
  padding: 1vmin;
  background: #95a7cd;

  background-color: -webkit-linear-gradient(-45deg, #95a7cd, #868787);
  background: -webkit-linear-gradient(-45deg, #95a7cd, #868787);
  background: -o-linear-gradient(-45deg, #95a7cd, #868787);
  background: linear-gradient(-45deg, #95a7cd, #868787);
  border-bottom: solid 4px #95a7cd;
}



#newsTicker p {
  font-family: VT323, sans-serif;
  color: #010101;
  font-size: 42px;
}

#newsTicker h3 {
  margin-top: 1vmin;
}

#newsLabel {
  float: left;
  margin-right: 5vmin;
}

#headlineNews {
  white-space: pre;
  margin-top: 2vmin;
  margin-left: 20vmin;
  opacity: 1;
  font-weight: bold;
  /* border: solid 1px #000; */
  width: auto;
  background: #868787;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;

  /* text-shadow: -21px -21px 1px #003f8f, -22px -22px 1px #003f8f, -23px -23px #003f8f, -24px -24px 1px #003f8f, -25px -25px 1px #003f8f; */
}

#hubMessages {
  float: left;
  width: 50%;
  overflow: hidden;
}

#hubUpdates {
  float: left;
  width: 50%;
  overflow: hidden;
}

#poweredbynewsapi {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  float: right;
}

#poweredbynewsapi h5 {

  /* margin-left: 6vmin; */
  margin-bottom: 0;
  margin-top: -3vmin;
}

#hubMessageSpace {
  height: 460px;
  overflow: scroll;
  background: #868787;
  /* background-color: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: linear-gradient(-45deg, #dbdbbc, #003f8f);
  border-bottom: solid 4px #2a3748; */
  padding: 2vmin;
  opacity: 0;
  filter: hue-rotate(180deg);
  margin-right: 3vmin;
  /* border-bottom: solid 4px #95a7cd; */
}

#hubMessageSpace p {
  font-family: VT323, sans-serif;
  color: #010101;
}

#hubUpdatesSpace {
  height: 460px;
  overflow: scroll;
  background: #868787;
  /* background-color: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(-45deg, #dbdbbc, #003f8f);
  background: linear-gradient(-45deg, #dbdbbc, #003f8f);
  border-bottom: solid 4px #2a3748; */
  padding: 2vmin;
  opacity: 0;
  filter: hue-rotate(180deg);
  /* border-bottom: solid 4px #95a7cd; */
}

#hubUpdatesSpace p {
  font-family: VT323, sans-serif;
  color: #010101;
}

#hubUpdatesSpace ul {
  list-style: none;
  /* margin-left: 0; */
  /* padding-left: 0; */
}

#hubUpdatesSpace li {
  float: left;
  /* padding-left: 1em; */
  /* text-indent: 4em; */
}

#hubUpdatesSpace li:before {
  font-family: VT323, sans-serif;
  color: #010101;
  font-size: 30px;
  content: ">freqDomain2 git:(master)";
  padding-right: 5px;
  float: left;
}

.collapsedUnreadMessage {
  margin: 1vmin 0;
  cursor: pointer;
  border-top: solid 1px #010101;
  filter: saturate(1000%);
}

.collapsedUnreadMessage img {
  margin-top: 1vmin;
  width: 5%;
  float: left;
}

.collapsedUnreadMessage p {
  margin: 0 1vmin 1vmin 1vmin;
  float: left;
  width: 90%;
  font-weight: 500;
}

.openedUnreadMessage {
  display: none;
  margin: 1vmin 0;
  border-top: solid 1px #010101;
  cursor: pointer;
}

.openedUnreadMessage img {
  margin-top: 1vmin;
  width: 5%;
  float: left;
}

.openedUnreadMessage p {
  margin: 0 1vmin 1vmin 1vmin;
  float: left;
  width: 90%;
  font-weight: 200;
}

.messageLinks {
  text-decoration: underline;
  filter: hue-rotate(270deg);
}

.collapsedReadMessage {
  margin: 1vmin 0;
  cursor: pointer;
  border-top: solid 1px #010101;
  filter: saturate(0%);
}

.collapsedReadMessage img {
  margin-top: 1vmin;
  width: 5%;
  float: left;
}

.collapsedReadMessage p {
  margin: 0 1vmin 1vmin 1vmin;
  float: left;
  width: 90%;
  font-weight: 500;
}

.openedReadMessage {
  display: none;
  margin: 1vmin 0;
  border-top: solid 1px #010101;
  cursor: pointer;
}

.openedReadMessage img {
  margin-top: 1vmin;
  width: 5%;
  float: left;
}

.openedReadMessage p {
  margin: 0 1vmin 1vmin 1vmin;
  float: left;
  width: 90%;
  font-weight: 200;
}

#mixerSetting {
  position: relative;
  float: left;
  width: 17%;
  margin: -2vmin 1vmin 1vmin 3vmin;
  padding: -1vmin 1vmin 1vmin 30%;
}

#mixerSetting p {
  position: relative;
  float: left;
}

#patchSetting {
  position: relative;
  float: left;
  width: 17%;
  margin: -2vmin 1vmin 1vmin 3vmin;
  padding: -1vmin 1vmin 1vmin 30%;
  opacity: 0.2;
}

#patchSetting p {
  position: relative;
  float: left;
}

#composeSetting {
  position: relative;
  float: left;
  width: 17%;
  margin: -2vmin 1vmin 1vmin 3vmin;
  padding: -1vmin 1vmin 1vmin 30%;
  opacity: 0.2;
}

#composeSetting p {
  position: relative;
  float: left;
}

#socialSetting {
  position: relative;
  float: left;
  width: 17%;
  margin: -2vmin 1vmin 1vmin 3vmin;
  padding: -1vmin 1vmin 1vmin 30%;
}

#socialSetting p {
  position: relative;
  float: left;
}

#accountSetting {
  position: relative;
  float: left;
  width: 17%;
  margin: -2vmin 1vmin 1vmin 3vmin;
  padding: -1vmin 1vmin 1vmin 30%;
}

#accountSetting p {
  position: relative;
  float: left;
}

#mixerSelection {
  float: left;
  margin: 4.6vmin 0 0 0.1vmin;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}

#mixerSelection:focus {
  filter: brightness(110%) hue-rotate(45deg);
}

#mixerSelection:hover {
  border-color: #e0dedf;
}

#mixerSelection option {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#patchSelection {
  float: left;
  margin: 4.6vmin 0 0 0.1vmin;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}

#patchSelection:focus {
  filter: brightness(110%) hue-rotate(45deg);
}

#patchSelection:hover {
  border-color: #e0dedf;
}

#patchSelection option {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#composeSelection {
  float: left;
  margin: 4.6vmin 0 0 0.1vmin;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}

#composeSelection:focus {
  filter: brightness(110%) hue-rotate(45deg);
}

#composeSelection:hover {
  border-color: #e0dedf;
}

#composeSelection option {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#socialSelection {
  float: left;
  margin: 4.6vmin 0 0 0.1vmin;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}

#socialSelection:focus {
  filter: brightness(110%) hue-rotate(45deg);
}

#socialSelection:hover {
  border-color: #e0dedf;
}

#socialSelection option {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#accountSelection {
  float: left;
  margin: 4.6vmin 0 0 0.1vmin;
  display: block;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  background-color: #dbdbbc;
  color: #010101;
  filter: brightness(90%);
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  padding: 3px 1px 3px 9px;
  border-radius: 0;
  border: solid 1px transparent;
  cursor: pointer;
  box-shadow: -1px -1px 1px #809fc7, -2px -2px 1px #809fc7, -3px -3px 1px #809fc7;
  width: 92%;
}

#accountSelection:focus {
  filter: brightness(110%) hue-rotate(45deg);
}

#accountSelection:hover {
  border-color: #e0dedf;
}

#accountSelection option {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#mixerLabelButton {
  position: relative;
  margin: -2.5vmin 0 2.5vmin 0 !important;
}

#patchLabelButton {
  position: relative;
  margin: -2.5vmin 0 2.5vmin 0 !important;
}

#composeLabelButton {
  position: relative;
  margin: -2.5vmin 0 2.5vmin 0 !important;
}

#socialLabelButton {
  position: relative;
  margin: -2.5vmin 0 2.5vmin 0 !important;
}

#accountLabelButton {
  position: relative;
  margin: -2.5vmin 0 2.5vmin 0 !important;
}

.noActiveMixerMessage {
  font-size: 24px !important;
  width: auto !important;
  margin: 4vmin 0 0 0 !important;
}

#headlines {
  /* border: solid 1px black; */
  background: transparent;
  margin: 21 1% 0 0;
  height: 200px;
  align-content: center;
  width: 100%;
  /* background-color: -webkit-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: linear-gradient(45deg, #dbdbbc, #003f8f); */
  /* border-bottom: solid 4px #2a3748; */
  opacity: 0.9;
}

#headlinesGoHere {
  font-family: 'Raleway', sans-serif !important;
  font-size: 30px !important;
  margin: 4% 5% 6% 5%!important;
  color: #e0dedf !important;
  /* filter: brightness(150%) !important; */
  text-shadow: -1px -1px 1px #809fc7;
  transform: rotateX(90deg);
}

#progressList {
  width: 100%;
  /* background-color: -webkit-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: -webkit-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: -o-linear-gradient(45deg, #dbdbbc, #003f8f);
  background: linear-gradient(45deg, #dbdbbc, #003f8f); */
  border-bottom: solid 4px #2a3748;
  height: 430px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#viewHideProgressListButton {
  text-decoration: none;
}

#viewHideProgressListLabel:hover {
  color: #e0dedf !important;
}

#viewHideProgressListLabel {
  color: transparent !important;
  margin: 0 0 -3vmin 5vmin;
}
