<div id="hubDiv">
  <div id="hubNavbar" class="pure-g">
    <div class="pure-u-1-4">
      <img id="hubUserImg" src="../img/evil-2162179_1280.png" ng-click="$ctrl.userProfileEditor()">
      <h2 id="hubUserName" ng-click="$ctrl.userProfileEditor()"></h2>
    </div>
    <h1 class="pure-u-1-4">FreqDomain2</h1>
    <div id="navBarButtons" class="pure-u-1-3">
      <a class="button"><p>Compose</p></a>
      <a class="button"><p>Mixer</p></a>
      <a class="button"><p>Patch Editor</p></a>
      <a class="button"><p>Social</p></a>
      <a class="button" ng-click="$ctrl.loadInfo()"><p>Info</p></a>
      <a class="button" ng-click="$ctrl.userLogout()"><p>Sign Out</p></a>

    </div>
  </div>

  <div id="freqDomain2Hubspot">
    <div id="newsTicker">
      <h3 id="newsLabel">News:</h3>
      <p id="headlineNews"></p>
      <a href="https://newsapi.org" target="_blank" id="poweredbynewsapi"><h5>Powered by News API</h5></a>
    </div>

    <div class="pure-g">
      <div id="hubMessages" class="pure-u-1-3">
        <br><h3>Messages:</h3>
        <div id="hubMessageSpace">
          <p>You have no messages at this time</p>
        </div>
      </div>
      <div id="hubUpdates" class="pure-u-1-3">
        <br><h3>Updates:</h3>
        <div id="hubUpdatesSpace">
          <ul>
            <li><p>Module 3 - Oscillator: Pending: Stage 12 - March Consequence - March Skins added to Skins Table. Class Constructor. Next: Stage 13 - April A Skin.</p></li>
            <li><p>Module 2 - Gain: Stage 12 - March Consequence - March skins added to database/Class Constructor. Next: Stage 13 - April A Skin.</p></li>
            <li><p>Module 1 - Master Volume: Stage 13 - April A Skin. Next: Stage 14 - April B Skin.</p></li>
            <li><p>Module 0 - Front end: Stage 14 - Info page state/user info CRUD functionality. Next: Stage 15 - Messages functionality. Send verification link to user changing email address.</p></li>
            <li><p>Module 15 - Highshelf Filter: PENDING: Stage 1 - Initialization.</p></li>
            <li><p>Module 14 - Airlines Module: Stage 1 - Initial design in January A Skin. Next: January B Skin.</p></li>
            <li><p>Module 13 - Input Manager: Stage 2 - January B Skin. Next: Stage 3 - January C Skin.</p></li>
            <li><p>Module 12 - Low Shelf Filter: Stage 3 - January C Skin. Next: Stage 4 - January Consequence - Table creation with migration, seeds and routes.</p></li>
            <li><p>Module 11 - Band Pass Filter: Stage 4 - January Consequence - Table creation with migration, seeds and routes. Next: Stage 5 - February A Skin.</p></li>
            <li><p>Module 10 - Weather Module: Stage 5 - February A Skin. Next: Stage 6 - February B Skin.</p></li>
            <li><p>Module 9 - Envelope Generator: Stage 6 - February B Skin. Next: Stage 7 - February C Skin.</p></li>
            <li><p>Module 8 - Highpass Filter: Stage 7 - February C Skin. Next: Stage 8 - February Consequence - Skins Table. Add January and February skins.</p></li>
            <li><p>Module 7 - Lowpass Filter: Stage 8 - February Consequence - Skins Table. Add January and February skins. Next: Stage 9 - March A Skin.</p></li>
            <li><p>Module 6 - Random Number Generator: Stage 9 - March A Skin. Next: Stage 10 - March B Skin.</p></li>
            <li><p>Module 5 - Dynamic Compressor: Stage 10 - March B Skin. Next: Stage 11 - March C Skin.</p></li>
            <li><p>Module 4 - Test Tone: Stage 11 - March C Skin. Next: Stage 12 - March Consequence - March Skins added to Skins Table. Class Constructor</p></li>

          </ul>
        </div>
      </div>
    </div>



  </div>


</div>
