<div id="hubDiv">
  <div id="hubNavbar" class="pure-g">
    <div class="pure-u-1-4">
      <img id="hubUserImg" src="../img/evil-2162179_1280.png" ng-click="$ctrl.userProfileEditor()">
      <h2 id="hubUserName" ng-click="$ctrl.userProfileEditor()"></h2>
    </div>
    <h1 class="pure-u-1-3">FreqDomain2</h1>
    <div id="navBarButtons" class="pure-u-1-3">
      <a class="button"><p>Compose</p></a>
      <a class="button" ng-click="$ctrl.navMixer()"><p>Mixer</p></a>
      <a class="button" ng-click="$ctrl.navPatchEditor()"><p>Patch Editor</p></a>
      <a class="button"><p>Social</p></a>
      <a class="button" ng-click="$ctrl.loadInfo()"><p>Info</p></a>
      <a class="button" ng-click="$ctrl.userLogout()"><p>Sign Out</p></a>

    </div>
  </div>

  <div id="freqDomain2Hubspot">
    <div id="newsTicker">
      <h3 id="newsLabel">News:</h3>
      <p id="headlineNews"></p>
      <a href="https://newsapi.org" target="_blank" id="poweredbynewsapi"><h5>Powered by News API</h5></a>
    </div>

    <div class="pure-g">
      <div id="hubMessages" class="pure-u-1-3">
        <br><h3>Messages:</h3>
        <div id="hubMessageSpace">
          <div id="unreadMessagesDiv">
            <p id="youHaveNoMessagesAtThisTime">You have no messages at this time</p>
            <div id="messageManagement">

              <button>Compose</button>
            </div>
            <main ng-repeat="msg in $ctrl.unreadMessages | orderBy : $ctrl.sortBy">


              <div id="collapsedUnreadMessage{{msg.id}}" class="collapsedUnreadMessage" ng-click="$ctrl.openCollapsedMessage(msg.id)">
                <img src="{{msg.fromImage}}">
                <p>{{msg.from}}: {{msg.subject}} - {{msg.cleanDate}}</p>
                <p>{{msg.threadCount}} responses</p>

              </div><br><br><br><br><br>
              <div id="openedUnreadMessage{{msg.id}}" class="openedUnreadMessage" ng-click="$ctrl.collapseUnreadMessage(msg.id)">

                <img src="{{msg.fromImage}}">
                <p>{{msg.from}}: {{msg.subject}} - {{msg.cleanDate}}</p>
                <p>to: {{msg.to}}</p>
                <p>{{msg.message}}</p>
                <p>Related Links:</p>
                <main ng-repeat="link in msg.links | orderBy : $ctrl.sortBy">

                  <a href="{{link.link}}" target="_blank"><p class="messageLinks">{{link.name}}</p></a>
                </main>
                <main ng-repeat="thread in msg.threads | orderBy : $ctrl.sortBy">

                  <p style="width: 100%;">Response[id:{{thread.id}}]</p><br><br>

                  <img src="{{thread.fromImage}}">
                  <p>{{thread.from}}: {{thread.subject}} - {{thread.cleanDate}}</p>
                  <p>to: {{thread.to}}</p>
                  <p>{{thread.message}}</p>
                  <p>Related Links:</p>
                  <main ng-repeat="threadLink in thread.links | orderBy : $ctrl.sortBy">

                    <a href="{{threadLink.link}}" target="_blank"><p class="messageLinks">{{threadLink.name}}</p></a>
                  </main>
                </main>
              </div>
            </main>

          </div>
          <div id="readMessagesDiv">

            <main ng-repeat="msg in $ctrl.readMessages | orderBy : $ctrl.sortBy">

              <div class="collapsedReadMessage" id="collapsedReadMessage{{msg.id}}" ng-click="$ctrl.uncollapseReadMessage(msg.id)">

                <img src="{{msg.fromImage}}">
                <p>{{msg.from}}: {{msg.subject}} - {{msg.cleanDate}}</p>
                <p>{{msg.threadCount}} responses</p>
              </div>
              <div class="openedReadMessage" id="openedReadMessage{{msg.id}}" ng-click="$ctrl.collapseReadMessageAction(msg.id)">
                <img src="{{msg.fromImage}}">
                <p>{{msg.from}}: {{msg.subject}} - {{msg.cleanDate}}</p>
                <p>to: {{msg.to}}</p>
                <p>{{msg.message}}</p>
                <p>Related Links:</p>
                <main ng-repeat="link in msg.links | orderBy : $ctrl.sortBy">

                  <a href="{{link.link}}" target="_blank"><p class="messageLinks">{{link.name}}</p></a>
                </main>
                <main ng-repeat="thread in msg.threads | orderBy : $ctrl.sortBy">

                  <p style="width: 100%;">Response[id:{{thread.id}}]</p><br><br>

                  <img src="{{thread.fromImage}}">
                  <p>{{thread.from}}: {{thread.subject}} - {{thread.cleanDate}}</p>
                  <p>to: {{thread.to}}</p>
                  <p>{{thread.message}}</p>
                  <p>Related Links:</p>
                  <main ng-repeat="threadLink in thread.links | orderBy : $ctrl.sortBy">

                    <a href="{{threadLink.link}}" target="_blank"><p class="messageLinks">{{threadLink.name}}</p></a>
                  </main>
                </main>

              </div>
            </main>
          </div>

        </div>
      </div>
      <div id="hubUpdates" class="pure-u-1-3">
        <br><h3>Updates:</h3>
        <div id="hubUpdatesSpace">
          <ul>

            <li><p>Module 10 - Weather Module: Pending: Stage 11 - March C Skin. Next: Stage 12 - March Consequence - March Skins added to skins table. Class constructor.</p></li>
            <li><p>Module 9 - Envelope Generator: Stage 11 - March C Skin. Next: Stage 12 - March Consequence - March Skins added to skins table. Class Constructor.</p></li>
            <li><p>Module 8 - Highpass Filter: Stage 12 - March Consequence - March Skins added to skins table. Class Constructor. Next: Stage 13 - April A Skin.</p></li>
            <li><p>Module 7 - Lowpass Filter: Stage 13 - April A Skin. Next: Stage 14 - April B Skin.</p></li>
            <li><p>Module 6 - Random Number Generator: Stage 14 - April B Skin. Next: Stage 15 - April C Skin.</p></li>
            <li><p>Module 5 - Dynamic Compressor: Stage 15 - April C Skin. Next: Stage 16 - April Consequence - April Skins added/Full Rendering Support.</p></li>
            <li><p>Module 4 - Test Tone: Stage 16 - April Consequence - April Skins added/Full Rendering Support. Next: Stage 17 - May A Skin.</p></li>
            <li><p>Module 3 - Oscillator: Stage 17 - May A Skin. Next: Stage 18 - May B Skin.</p></li>
            <li><p>Module 2 - Gain: Stage 18 - May B Skin. Next: Stage 19 - May C Skin.</p></li>
            <li><p>Module 1 - Master Volume: Stage 19 - May C Skin. Next: Stage 20 - May Consequence - May skins added. Signal testing.</p></li>
            <li><p>Module 0 - Front End: Stage 20 - Front end work. Next: Stage 21 - Front end work.</p></li>
            <li><p>Module 21 - Convolution Module: Stage 1 - INITIALIZATION.</p></li>
            <li><p>Module 20 - Allpass Filter: Stage 1 - Initial design in January A Skin. Next: Stage 2 - January B Skin.</p></li>
            <li><p>Module 19 - Notch Filter: Stage 2 - January B Skin. Next: Stage 3 - January C Skin.</p></li>
            <li><p>Module 18 - Financial Module: Stage 3 - January C Skin. Next: Stage 4 - January Consequence - Table creation with migration, seeds and routes.</p></li>
            <li><p>Module 17 - Delay Module: Stage 4 - January Consequence - Table creation with migration, seeds and routes. Next: Stage 5 - February A Skin.</p></li>
            <li><p>Module 16 - Peaking Filter: Stage 5 - February A Skin. Next: Stage 6 - February B Skin.</p></li>
            <li><p>Module 15 - Highshelf Filter: Stage 6 - February B Skin. Next: Stage 7 - February C Skin.</p></li>
            <li><p>Module 14 - Airlines Module: Stage 7 - February C Skin. Next: Stage 8 - February Consequency - Skins Table. Add January and February Skins.</p></li>
            <li><p>Module 13 - Input Manager: Stage 8 - February Consequence - Skins Table. Add January and February Skins. Next: Stage 9 - March A Skin.</p></li>
            <li><p>Module 12 - Low Shelf Filter: Stage 9 - March A Skin. Next: Stage 10 - March B Skin.</p></li>
            <li><p>Module 11 - Band Pass Filter: Stage 10 - March B Skin. Next: Stage 11 - March C Skin.</p></li>

          </ul>
        </div>
      </div>
    </div>



  </div>


</div>
